[2012-11-15 17:12] dannyedel opened #1 "Countdown for presentation / slide-time"
Make a command-line switch or configuration file option for time per slide and/or time for the whole presentation.

Then change the presentation-clock / slide-clock to a countdown and somehow visualize the user being overtime (i.e. red letters)

[2012-12-10 09:36] ghost opened #2 "License?"
Hello,

thank you for this nice piece of code. I created a package for ArchLinux (see: https://aur.archlinux.org/packages/dspdfviewer-git/) and like to add the correct license, but couldn't find any info.

Thank you,
richo

[2012-12-11 12:21] #2 closed, assigned to dannyedel

[2013-05-07 19:35] dannyedel opened #3 "Moving to a monitor does not work on i3 window manager"
When running dspdfviewer under i3, it cannot move to a specific monitor (both windows spawn on top of each other). I dont know if this is a bug in dspdfviewer, qt or i3, a bit of debugging will be necessary.

Temporary workaround:

Start dspdfviewer, and move the windows manually to the correct workspaces ($mod+shift+[1-9]) so that the external monitor's workspace contains the presentation.

[2013-10-22 08:17] dannyedel opened #6 "Swapping screens does not work on kubuntu 13.10"
This bug was found by @cfigura.

Steps to reproduce:
- Run dspdfviewer on Kubuntu 13.10 (a virtual machine with 2 monitors works fine)
- Press `s` or `F12`

Expected / documented behaviour:
- Primary and secondary window swap screens

Actual Response:
- Some flickering, but the windows stay on the same screens

Known Workaround:
- Define the projector as "primary" display before starting dspdfview

[2013-10-22 09:16] dannyedel opened #7 "Start audience window on "secondary" screen"
This idea came while thinking about the workaround at #6.

Normally, people will have their laptop's screen defined as "primary" (screen 0) and the projector as "secondary" (screen 1).

Yet, dspdfviewer spawns the "audience" window on the primary screen, and the "presenter" window on the secondary screen.

This behaviour is specified in the constructor arguments in [dspdfviewer.cpp](https://github

[2013-10-22 10:17] #6 closed, assigned to dannyedel

[2013-10-29 13:16] #7 closed, assigned to dannyedel

[2013-11-16 17:23] mmonaco opened #8 "Configurable bottom pane height"
The previews of the previous and upcoming slides are nice, but almost too small to be useful. A config option to set the height, or maybe percentage of vertical space would be great.

It might also be worth considering whether the current slide needs to be listed in the prerender pane.

[2013-11-16 17:25] mmonaco opened #9 "'b' typically means blank monitor"
Right now, 'b' is matched with 'p' for back and previous. How important is this to you? 'b' seems to be standardized on blanking the monitor, so it would be nice if it blanked just the audience screen.

Note that most of the presentation remotes I've seen actually have a button which sends 'b' just for this purpose.

[2013-11-16 17:27] mmonaco opened #10 "Presentation clock not working"
I built from git recently and I can only get two copies of the wall-time. I'm sure one of these is meant to be the presentation counter.

(@dannyedel I agree with the feature request that you submitted about count-down timers being nice, I wonder if it would even be possible to use some tex magic to submit per-slide countdown metadata).

[2013-11-16 17:32] mmonaco opened #11 "Separate presenter navigation"
I've never used Qt, so I don't know how feasible this is, however...

It would be awesome to be able to hit some hot-key and enter a mode where I could use the arrows to navigate along the pre-rendered strip at the bottom. I could then hit ENTER to jump directly to that slide, or escape to go back to normal mode.

[2013-11-16 19:41] #9 closed, assigned to dannyedel

[2013-11-17 00:19] #10 closed, assigned to nobody

[2013-11-17 22:10] mmonaco opened #12 "inotify support"
I thought of another one =)

It would be nice if everything is re-rendered when the underlying PDF changes. I use this with evince a lot so I can leave the PDF open and just run make to update it.

This of course could be optional, either on or off by default.

[2013-11-23 12:13] dannyedel opened #13 "Add "re-read PDF" support"
This is a split from #12

Add a function to re-read and re-render the PDF. That includes:
- Try re-reading the PDF. If that doesnt work, throw.
  - The user-triggered reload will probably notify the user, while the auto-reload (#12) will swallow that error.
- Generate a unique ID of the PDF (maybe hash the header, including mod date, filesize etc) (this needs to be incorporated in the already-pres

[2014-05-06 18:47] lied opened #14 "start a desktop application"
it would be nice if there is a possibilty to start a desktop app (like a browser) and than switch back to the presentation.

[2014-07-12 08:36] #13 closed, assigned to dannyedel

[2014-07-12 08:38] #12 closed, assigned to dannyedel

[2014-08-17 10:31] jeeger opened #15 "Gentoo ebuild"
I've written a very dirty gentoo ebuild for installing dspdfviewer. I've already submitted it to the gentoo bugtracker, but until it gets included in the main tree, I'll put it here too, so gentoo users can install it more easily.

Note that I'm not entirely clear on the Qt dependencies: What part of Qt is required to compile dspdfviewer apart from poppler-qt4?

Also: Thanks for the software, very

[2014-09-02 16:16] markusknoerzer opened #17 "Support for Logitech R400 Presenter"
I use the Logitech R400 Presenter for presentations and have searched long for a software like yours. Thanks for the work!
One little extension would be really nice.
If you could add "." as a second command to blackout the audience screen.
Then all buttons of the R400 would work as labeled.
To end the presentation you can double click on the start button.

[2014-09-04 12:29] #15 closed, assigned to nobody

[2014-09-05 11:34] #17 closed, assigned to nobody

[2015-01-12 23:14] zakkak opened #19 "Transition effects"
Hello,

Thanks for this great job.

I was wondering what are your thoughts about supporting some transition effects in the dspdfviewer.

[2015-01-15 09:36] zakkak commented on #8
I agree with the comment about the command line options, it will be more intuitive that way.

[2015-01-15 09:39] zakkak opened #20 "Feature request: Key to toggle between notes and the actual slides."
When presenting some slides might come without notes, in such cases I might want to focus on the slide itself (This is possible with a bit of latex hacking).  But more importantly sometimes while reading the notes I might want to focus to the slide for a second to refresh my memory about what my viewers see.

't', for toggle, might be an appropriate key.

[2015-01-15 09:41] zakkak opened #21 "Feature request:Key binding to pause the timers"
In rehearsals it is very common to stop and note something down or start a short discussion. In such cases it would be nice to be able to pause the timers so the measured time will reflect the actual presentation time.

'p' would be a nice fit but is already taken.

[2015-01-26 16:35] mareikep opened #22 "Feature request: Support for embedded media"
It would be nice to have the possibility to play media or follow links embedded in the document.
A small example can be found on https://www.dropbox.com/s/isefuecod62m1mo/xmpl_pres.tar.gz?dl=0
The example contains a tiny .tex file (beamer presentation) using the movie15 package to include a video file.
As mouse clicks trigger slide-changes in DS PDF Viewer, the video can not be played in the prese

[2015-02-02 10:14] dannyedel commented on #19
First of all, sorry for making you wait so long. I had some computer issues and was unable to access github : /

Regarding the transition effects: In my mind, any kind of effect/delay goes against my initial idea of having an instant reply to a keypress (hence the whole pre-rendering thing) and I personally have not missed it. However, I am not the only user of the software anymore and if there is

[2015-02-02 10:22] dannyedel opened #23 "Create a framework for automated testing"
It would be nice to have some kind of automated testing facility. Right now the only mistake that can be automatically detected is "failed to compile", meaning mostly syntax- or type-errors.

I'm thinking about something along the lines of
  * Create a in-memory xinerama with two Xvfb or similar, in different screen sizes
  * Creating set of PDFs that contain mostly colored areas
  * Load dspdfvie

[2015-02-02 10:28] dannyedel commented on #20
This does sound like a good idea. I'll implement it : )

I'll have to think about it a little bit how it will integrate with the caching mechanism (will second-screen-sized-mainpage purge second-screen-sized-notespage?) and prerendering.

[2015-02-02 10:37] dannyedel commented on #21
Sounds really good, but I'll have to find a different class to internally store the timers. Right now the [Clock] simply stores the start-time and keeps displaying the difference to stored time.

[Clock]: https://github.com/dannyedel/dspdfviewer/blob/master/dspdfviewer.cpp#L262-L267

[2015-02-02 10:56] dannyedel commented on #22
While I fear I'll not be able to implement this myself, I think it'd be a really nice feature. Who knows, maybe one day dspdfviewer might be feature-complete in rendering what latex-beamer can generate : )

First question is: How do other pdf-viewers handle this situation? Right now I can imagine four different ways to render videos
  * Include a full media player (with demux, codecs, video and au

[2015-02-02 10:57] dannyedel commented on #14
Closing ticket since there was no more input for half a year.

[2015-02-02 10:57] #14 closed

[2015-02-02 11:50] mareikep commented on #22
Of course, you´re free to mirror it.. it is just some tiny example I
created with a stupid countdown video because I couldn´t find anything
better... :D
I have tried it with evince (standard pdf viewer in linux mint and some
other distributions) and Sumatra PDF for Windows. Both treat the
integrated video file as a link and open external programs to play it
(which is still kind of okay-ish..) Ther

[2015-02-02 11:56] mareikep commented on #22
Additional Info: have just tried to open the pdf with Okular, and it
shows the video as well as controls (as specified in the includemovie
options) embedded in the pdf. Using the controls works well, clicking on
the video/the placeholder image will open an external viewer, however.

Cheers,
Mareike

On 02/02/2015 11:56 AM, Danny Edel wrote:

[2015-02-02 13:27] dannyedel commented on #22
The gist mirror is on https://gist.github.com/dannyedel/a79afab438c9655b9f99 (I had to strip the vid/ directory for gist to accept it, but at least its mirrored for safekeeping)

I will try to figure out if there is a standard-way to do "Launch default program to view annot.avi" since I guess that should be reasonably easy to implement as a first step, but if the control things are specified then

[2015-02-02 16:11] dannyedel opened #25 "Infrastructure: Install auto-builders for debian wheezy and sid"
Similar to the provided launchpad auto-builders there should be auto-builders for debian, especially because I am trying out sid now, but want to make sure it still compiles and runs on wheezy.

Minimum would be i386/amd64 wheezy and sid. The auto-builders should create public debian repositories so that users can easily follow daily versions.

This may be a good opportunity to try out [Jenkins]

[2015-02-03 08:13] einhander commented on #22
Hi,
I think you should look at pdfpc implementation of embeded video. It's uses links to video files in file system, so pdf size is small. Also it's include embeded video player based on gstreamer. Only a git version of pdfpc can play video.
Project page: https://github.com/davvil/pdfpc

[2015-02-03 14:09] zakkak commented on #19
Unfortunately, I cannot program it myself either.  I can help with the first bullet though.

Let's see if anyone else can help with this :)

[2015-02-07 13:26] dannyedel commented on #20
I have written some code and started a pull-request.

Could you check out the branch and give feedback at the pullrequest if it does what you thought?

[2015-02-07 16:33] zakkak commented on #20
Yes, it looks good.  Please pull it upstream.

Thanks :)

[2015-02-07 16:33] #20 closed

[2015-02-07 16:34] dannyedel commented on #20
Done : ) Thanks for your feedback!

[2015-02-07 16:44] dannyedel commented on #8
Just sorting this a little bit: I'm reducing this ticket to what the header says, making the preview-images' height variable.

I'm moving the other things to their own (smaller) tickets to easier track them.

[2015-02-07 16:50] dannyedel opened #27 "Configuration file support"
Split from #8

Originally suggested by @mmonaco on 2013-11-16, quoting:

This ticket is about the support for a configuration file, that basically takes whatever options the commandline does.

In case of a conflict, order should of course be

command line > configuration file > compile-time default

Most likely, users would configure the helper screen to their liking in the configuration file and

[2015-02-07 16:53] dannyedel opened #28 "More intuitive way to specify booleans on the command line"
This is a split from #8

Originally suggested by @mmonaco on 2013-11-16, quoting:

[code]

I'm not 100% sure if I will take over the idea exactly, but using capital letters to specify the opposite, or using a `--no-` prefix in long options seems reasonable.

[2015-02-08 06:26] dannyedel commented on #27
Converting this into a pull request

[2015-02-08 20:06] dannyedel opened #30 "Define and implement a consistent indentation style"
Thank you @zakkak for the input at #29 - I'd like to move the whitespace issue here, and I do fully agree its super annoying.

Personally I think in an ideal world, my editor would do this for me.
Or at least some kind of "make source-format" script I can call before comitting, or put into a git filter so I never forget to call it - I'm already doing this to prevent [new line at eof]

Good news: T

[2015-02-08 23:06] zakkak commented on #30
If you ever decide to go `emacs`, there is [this](https://github.com/koko1000ban/emacs-uncrustify-mode) nice plugin that hooks it with `uncrustify` and indents code accordingly when you save.

I have also sent you e-mail with an example `.uncrustify.cfg` to start with.

[2015-02-28 11:46] dannyedel commented on #25
Jenkins is now running at http://danny-edel.de/jenkins/, generating binary packages from the master branch and signing them with PGP key [61E9E242].

The repositories with the amd64 and i386 packages are at

[code]

Still todo: verify these packages work and update readme with instructions for the daily debs.

[61E9E242]: http://hkps.pool.sks-keyservers.net/pks/lookup?op=vindex&search=0x61E9E242&f

[2015-04-12 11:37] kaergel opened #33 "dspdfviewer refuses to use second display"
I received my new work machine this week and recognized dspdfviewer is not working as expected anymore.
On my old machine a beamer/monitor was plugged in to a vga port and the vga-port was named VGA1 in xrandr. All i had to do is to configure my second monitor via xrandr and use dspdfviewer.
Using the new machine a beamer/monitor connected to the vga-port is named DP1 in xrandr. dspsdfviewer does

[2015-04-23 07:04] dannyedel commented on #33
No, dspdfviewer does not depend on XRandR's display names, so I doubt this is it (on my test machines, sometimes the outputs are named "VGA1", "DVI-I-1", "HDMI-0", "LVDS" and it never caused issues, so I don't think there's anything special about the name "DP1").
What it does is query [QApplication::desktop()][1] and ask for a desktop by number, then [move the window to the top-left corner of that

[2015-05-20 20:43] zakkak opened #34 "Feature request:Keep each slide's time in a table"
On rehearsals or for presentations that you often repeat, you want to see where you spend the most time and improve yourself.  Storing the per slide timer in a table (one element for each slide) would allow the inspection of those statistics at the end of the presentation.

Relates to #21

[2015-07-27 07:43] projekter opened #35 "Allow for links"
It would be great if support for links in the PDF is added. All the nice navigations created with beamer tend to be useless if they are not interactive, so that one can jump to another page if it becomes necessary in a talk.
By the way, compilation under Windows worked well; I can provide a binary if you wish to integrate it.

[2015-07-27 10:51] dannyedel commented on #35
I agree, PDF Link support would be great. I've actually looked into that a few months ago, I think I can get that running.

Because I have not done any presentations in a while, there has been little work on dspdfviewer, and I currently don't have any presentations whose links do more than "ahead 1 page / back 1 page".

If you want to help me on this, you would do me a huge favor if you created a

[2015-07-27 11:40] dannyedel commented on #33
@kaergel, in the meantime I've released (which also means re-built against current libraries) version 1.12. Can you please confirm that the problem still persists in the current version, and please post the full information I've requested in my previous comment. Especially without operating system and how you installed it (binary, source) I can't reproduce anything.

In case the problem doesn't ex

[2015-07-27 12:18] dannyedel opened #36 "Provide example presentation(s) with dspdfviewer"
To dspdfviewer's users:

I want to have an example presentation (in latex-source format) that contains all the things dspdfviewer already renders, as well as some real-world things it does not support yet (but probably soon will), to verify that at least it fails gracefully (ignoring content it can't render, as opposed to crashing), this is also a first step to generating a test suite for #23, alt

[2015-07-27 12:28] projekter commented on #35
Sure, [PDF](https://www.dropbox.com/s/j7cepuf3vc393qq/test.pdf?dl=0) and [Gist TeX source](https://gist.github.com/projekter/d111bbe87003b1f660da) file. Normally, I don't use this kind of navigation but the sidebar navigation provided by Hannover theme. But it is a bit harder to make this work in dual screen mode, I'm still working on it. The example file in in its essence taken from [this SO ques

[2015-07-27 14:12] dannyedel commented on #35
Since PR #37 is merged, all that remains is the "running on windows" part and then the ticket is cleared.

[2015-07-28 09:47] dannyedel commented on #35
Running on windows is now discussed in #38 so this ticket is done.

[2015-07-28 09:47] #35 closed

[2015-07-28 16:30] dannyedel opened #45 "Create minimalistic project website"
Use github's [pages] feature to generate a small website about the program

replaces #44 since the main purpose was to make the readme more visible

[pages]: https://pages.github.com/

[2015-07-28 16:51] dannyedel commented on #45
Since this is mainly about simplification and deduplication, here's the idea what goes to the webpage:

* Short introduction "What does it do?"
  * Maybe later: some screenshots of example presentations
* Usage instructions, probably auto-built from the manpage in the source
* Installation instructions "How do I get it?"
  * Split those by operating system
  * List only binary instructions up top

[2015-07-29 14:57] dannyedel commented on #45
Except removing `debuild` (which is system-specific for debian) from the INSTALL file, everything is how it says there.

[2015-07-29 14:57] #45 closed

[2015-07-29 15:17] dannyedel opened #47 "Distribution packages outdated / How to coordinate new releases?"
Hello @kd35a,
Hello @jeeger,

first of all thanks again for helping me with the packaging. I've programmed a bit more since you included `dspdfviewer` in gentoo and arch and it has a few new features.

I've also done a bit of restructuring and moved (I used `git commit --author` to commit your lines, I hope thats ok) system-specific installation instructions into the [gh-pages] branch (which resul

[2015-07-29 20:50] dannyedel opened #48 "Windows Binary: Runtime dependency MSVCP120.dll missing"
@projekter, I tried to run your [binary] on a Windows 7 system, and it gives an error message about a missing `MSVCP120.dll`. I don't know where to get it from, but the `MSVC...` prefix makes me think its from Visual C++.

Please update [install instructions] on where to get it from, or include it in the zip (if you're allowed to do that).

![system-error](https://cloud.githubusercontent.com/asset

[2015-07-29 22:11] dannyedel commented on #25
4c412b373c7e36fa923b4247d4150f53eb2223a4 added the instructions to installation readme. closing this.

[2015-07-29 22:11] #25 closed

[2015-07-30 06:36] projekter commented on #48
@dannyedel, I have updated the archive. Originally, I checked with Process Explorer which dependencies were loaded. These DLLs were not shown. I have now started the application in a plain VM and added the two missing DLLs. They are part of the Visual Studio Redistributable list, so inclusion is allowed.

[2015-07-30 08:22] dannyedel commented on #48
Wonderful, thank you very much! Its also nice that you were allowed to include them.

As soon as I'm at the windows 7 machine again (probably around 17h CEST) I will try the package and post results (hopefully closing ticket).

[2015-07-30 09:31] jeeger commented on #47
Hey! Thanks for pinging me on this, I'll look into making a working package for Gentoo.

W.r.t. releases: dspdfviewer still hasn't been included in the official Gentoo tree (see [this bug](https://bugs.gentoo.org/show_bug.cgi?id=520120)), and I doubt this will happen anytime soon.

I could make an *overlay* though, which is a sort of unofficial extension of the package database, which needs to be

[2015-07-30 09:55] jeeger commented on #47
New ebuilds are in #49.

[2015-07-30 10:21] kd35a commented on #47
Hi!

I've been so far checking in every couple of weeks to see if there have come any new release-tags. But a better solution would be to have a mailing list where new releases would be announced. Seems like [Google Groups](https://groups.google.com/forum/#!overview) and [Yahoo Groups](https://groups.yahoo.com/) are popular free choices that are free to set up. And both allows for moderation of wh

[2015-07-30 11:30] dannyedel commented on #47
@kd35a, the idea of a broadcast email seems right to me. However, I *think* this should be possible using the github platform alone, but I can't find it (I can only find the "watch complete repository" function).

I've contacted github support and asked for help, maybe this will solve our problem.

[2015-07-30 12:00] dannyedel commented on #47
First: I don't have a google or yahoo email and I'd rather keep using my independent mailserver, so I'd like to avoid creating one there (If I have to use their account to send announcements, people will start sending mails to that account and wonder why nobody answers).

As far as I can tell the administrator/creator of a list must have an account, I cannot tell if it works like a normal mailing

[2015-07-30 12:28] dannyedel commented on #47
@jeeger, that "overlay" seems like a really cool thing.

From a quick look at http://overlays.gentoo.org/ a lot of people use it to host ebuilds on github and easily load them into their gentoo installations. So if I get that right, all you'd have to do is spawn a fresh github repository with your ebuilds in the correctly-named folders, add it to that list over there, and the "install ebuild into

[2015-07-30 13:55] jeeger commented on #47
Yep, I'll see what I can do.

Am 30. Juli 2015 14:28:44 MESZ, schrieb Danny Edel <notifications@github.com>:

--
Diese Nachricht wurde von meinem Mobiltelefon gesendet.

[2015-07-30 15:46] dannyedel commented on #47
I've called the current version `v1.13`, and that atom feed picked it up.

I'm currently starting the compilations for all debian derivates and ubuntus that I have in stock, so you can test and maybe include it into your distributions aswell.

[2015-07-30 16:18] dannyedel commented on #48
I have tested again and I can confirm it works now. The only thing a bit confusing is that while the file-chooser is running, there's an additional blank console window named dspdfviewer.exe (which doesn't matter much, since as soon as I load a pdf I don't see it anyway, and it disappears when closing dspdfviewer.)

It just seems a bit odd, so if you know how to quickly turn it off, please send a

[2015-07-30 16:18] #48 closed

[2015-07-30 16:54] kd35a commented on #47
Nice with the feed! Worked great in Thunderbird for me :smile:

Maybe that's a good solution until someone™ finds the project big enough to start hosting a mail list. Wanting to skip Google, a.k.a. Skynet, is a good thing that I fully support (I'm also hosting my own mail server). But it seems like Google allows you to [create an account with your current email-address, without having to use gmail

[2015-07-31 17:17] dannyedel commented on #3
Yes, I know this bug is almost two years old.

But.

Having swapped to debian sid, I have finally been able to reproduce this myself, and I think I have also found a workaround.
I still believe that no real "solution" purely inside dspdfviewer's code can be possible, since it is the whole purpose of i3 to have complete authority over window placement.

----

* Since b1c6968ed3a63fbfaf77da3411d3d50

[2015-07-31 17:28] dannyedel opened #53 "Verify build works on Mac OS and update installation instructions"
@wwwdata created the initial [Mac OS] installation instructions using the `macports` system. However, in the meantime the `brew` system emerged.

@wwwdata, please verify that building on current MacOS with the brew system, and - if possible - include this project in their database for easy installation.

btw, I can only assign tickets to myself or nobody. Can you click *assign to yourself* on this

[2015-07-31 17:33] adnidor commented on #3
Thanks for addressing this bug, your workaround works for me, I think it would be great to have something like this build in to dspdfviewer, maybe with an flag to activate it

[2015-07-31 17:39] wwwdata commented on #53
no, I cannot. But I will check this out this weekend. In brew you can create your own formulas to compile stuff. I will try to create one for dspdfviewer :smile:

[2015-07-31 17:43] dannyedel commented on #53
If they have any "generic cmake project" plugin, it should work since the cmake process is 100% standard now (even when compiling on non-debian from non-git). Be sure to add crypto checksums if you use the tar.gz archive : )

If "Compile with standard cmake method" does not work, please file a bug.

[2015-07-31 17:55] dannyedel commented on #3
If *this exact* shellcode (`i3-msg '[class="Dspdfviewer" window_role="Audience_Window"] move to output right, fullscreen'`) works reliable, I could embed it as a [std::system] call that gets executed after the audience window has constructed, provided some `--enable-i3-workaround` flag has been given on commandline or configuration file.

----

It may be ugly, but as long as one doesn't pass unesc

[2015-07-31 17:56] adnidor commented on #3
Sure

[2015-07-31 18:44] dannyedel commented on #3
Well then, please try the [i3-workaround] branch. On my system, it works when started with or without -sync parameter, so I *think* I've got just the right timing for the flush() call.

[i3-workaround]: https://github.com/dannyedel/dspdfviewer/tree/i3-workaround

[2015-07-31 18:46] dannyedel commented on #3
One moment, already spotted a bug. I've done it on the *wrong* screen, as usual. It's most likely pure change that it worked anyway.

[2015-07-31 18:55] adnidor commented on #3
Tested, works for me
Thanks!

[2015-07-31 19:10] dannyedel commented on #3
Please re-test with the c87d3c8fe77ec463fdda54d5d47901dfe1d46732 commit included. It *should* eliminate timing-issues, since now I wait for a spontaneous resize event (such as created by i3's moving of the window) to fire the shellcode.

imo, this is the right place to do it. But it will need a bit of testing.

[2015-07-31 19:32] adnidor commented on #3
Just tested, still works

[2015-07-31 19:56] #3 closed

[2015-07-31 19:56] dannyedel commented on #3
@mmonaco Other than this workaround, I've looked into your suggestion with `_NET_WM_DESKTOP`.

i3 does [not seem to ever query a client for that property](https://github.com/i3/i3/search?utf8=%E2%9C%93&q=_NET_WM_DESKTOP) so setting it would be most likely not do anything, and in a discussion [back in 2014](https://github.com/i3/i3/issues/938) it was made clear by the author that we should use the

[2015-08-01 11:00] dannyedel opened #55 "Ask for inclusion in debian"
Since the software is quite stable now, ask for inclusion in the official debian repository.

Update: ITP has been filed. See [debian bug 794319] for progress.

[debian bug 794319]: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=794319

[2015-08-01 11:00] dannyedel commented on #55
I am now working on a debian package.

[2015-08-01 11:49] dannyedel opened #56 "Fails to build from source, at least under debian sid"
[jenkins] found this one.

The source fails to compile on current debian sid, getting a lot of `boost::program_options::options_description::options_description(std::__cxx11::` errors.

Last known good build is b67c337d90f461dbd7b129cc2ef4b5ddefd57c58, [build log][goodlog]

First bad build is 5ab642481fbf3c26ce3e9945786692dedc2bec3a [build log][badlog]

Since the build *only* fails on debian sid a

[2015-08-01 11:53] dannyedel commented on #56
After updating my local debian to latest sid, I can reproduce the problem.

[2015-08-01 12:01] dannyedel commented on #56
Found very similar [debian bug report 790351]
(https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=790351)

Bug report includes a minimal "working" (as in, failing) example that compiles cleanly when adding `-D_GLIBCXX_USE_CXX11_ABI=0` to the list of compiler definitions.

I can confirm that *with* this definition, dspdfviewer compiles cleanly under sid.

[2015-08-01 12:23] #56 closed

[2015-08-01 12:35] dannyedel commented on #55
Initial version available at http://danny-edel.de/deb/pool/main/d/dspdfviewer/dspdfviewer_1.13-1.dsc

However, this fails to build from source on **sid** right now, see #56

It builds cleanly on **jessie**.

[2015-08-01 12:53] dannyedel commented on #55
Revised version available at http://danny-edel.de/deb/pool/main/d/dspdfviewer/dspdfviewer_1.13-2.dsc

Currently verifying compiles

[2015-08-01 13:09] dannyedel commented on #55
Works under sid amd64 and sid i386.

[2015-08-01 14:12] dannyedel commented on #55
I have written an email to debian-mentors asking for a sponsor.

[2015-08-02 09:47] projekter opened #58 "Show presentation and notes at the same time"
It can be very useful to see the same slide as the audience does on the own screen while the notes are also visible right to it (so the internal view shows the presentation as any normal reader would do). People with a small screen might not like this, but for those with a larger one with high resolution, it can be very useful.
I think 'd' for duplicate might be a good key to switch between the vi

[2015-08-03 10:46] dannyedel opened #59 "Migrate to current Qt and Poppler libraries"
Try to compile with Qt5 / poppler-qt5 bindings and see how much problems actually arise, since [poppler-qt5] is "currently in development" (already used by Okular, and included since debian jessie and ubuntu trusty) and [Qt5] is already declared stable.

If this *basically* works, try to adapt the CMakeLists.txt to allow compilation in both a qt4 and a qt5 environment.

* Implement this with a cma

[2015-08-03 11:02] dannyedel opened #60 "Refactor the rendering and caching backend"
Main Goal: Don't use the generic [QCache] class, and instead provide a specialized cache to have better control over expiry

Basic Ideas (may evolve over time):

* First and foremost: Get rid of raw pointers. I simply hate them. Make sure the cache interface is clearly defined by looking at the classes (thus enforced by the compiler), without hiding important things such as memory ownership in the

[2015-08-03 11:03] dannyedel commented on #58
You can already toggle between notes and presentation with `T`, I hope that helps in the meantime. Also beamer provides some™ way to integrate your main presentation view into the note side, but I can't provide a direct link right now.

I'll see that I integrate this when I refactor the rendering backend #60, generally trying to make more command-line parameters switchable during execution and imp

[2015-08-03 11:14] dannyedel opened #61 "Manual Page on Windows: Possible to view or convert to native?"
@projekter, after reading #58 I was wondering how users of the windows build would read the documentation *offline*, since I provide it in [manpage] format. I remember (this may be outdated) windows software normally had [chm] files as manuals that would be rendered by the OS.

Is there any way to
  * Display the manpage on windows? (or)
  * Convert it into a windows-compatible-format? (Not necess

[2015-08-03 12:53] projekter commented on #61
The manpage cannot be displayed, as there is no such thing as a "man" command which is universally used. Normally, command line programs print their help texts if they are called with a /?, /help, -help, -h, -?, --help or any parameter that sounds like that, depending on the developer's taste and background.
This would however not be possible, as I removed command line support from the release ver

[2015-08-03 13:50] dannyedel commented on #61
You should be able to use [online manpage]  - it was created exactly this way (see [Makefile]). This already contains the section on i3, which was not included in v1.13.

So have also added an online version of the release manpage (currently v1.13) at http://dspdfviewer.danny-edel.de/manpage-release.html

[online manpage]: http://dspdfviewer.danny-edel.de/manpage.html
[Makefile]: https://github.co

[2015-08-04 08:00] projekter commented on #61
I have just created the CHM file which is now included in the release archive. It is based on the release manpage (consistent to the version in the archive). i3 is not a Windows issue, so I think this section doesn't need to be integrated in the help file, as the command line switch will not work on Windows.

[2015-08-04 12:35] dannyedel commented on #55
Improved version at http://danny-edel.de/deb/pool/main/d/dspdfviewer/dspdfviewer_1.13-1.dsc

[2015-08-04 12:37] dannyedel commented on #61
Sounds wonderful to me. Seems like the software is growing to be a proper cross-platform product, manual and everything :thumbsup:

Is there anything left to do here? Otherwise, please close ticket.

[2015-08-04 12:43] projekter commented on #61
I don't think something has to be done regarding the help file. But I am not the ticket owner, I can't close it.

[2015-08-04 12:43] #61 closed

[2015-08-04 12:44] dannyedel commented on #61
Closed.

[2015-08-05 10:35] dannyedel commented on #36
I have created a repository at https://github.com/dannyedel/example-beamer-presentations - feel free to pullrequest more example presentations.

They should be simple enough to compile with a simple `latexmk -pdf` call. Of course they're allowed to contain hyperlinks, images etc.

Also, feel free to specify another build system.
I just chose latexmk as an example.

Best would be:
  * It never expe

[2015-08-05 11:21] dannyedel commented on #55
The package is now being tracked at http://mentors.debian.net/package/dspdfviewer

[2015-08-05 12:22] dannyedel opened #63 "Create an Icon for dspdfviewer"
This was suggested at https://lists.debian.org/debian-mentors/2015/08/msg00046.html

Even with the desktop file from #62 gnome still shows the "Missing Icon Icon".

Someone™ with imagination should create a nice icon that could be used for the software, especially on the website and in the desktop file so that GUI's application-listings don't present dspdfviewer with some default-icon.

[2015-08-06 09:43] dannyedel opened #65 "Regression: Changing slide with disabled audience screen crashes program"
Reproducible: Always

How to:

* Load presentation with at least 2 slides (the [demo presentation] will do)
* Blank audience screen (`B` or `.`)
* Press next slide (`N`)

Crash at [hyperlinkarea.cpp:32]

Backtrace:

[code]

[hyperlinkarea.cpp:32]: https://github.com/dannyedel/dspdfviewer/blob/2652a2dd42b3f2a324d8c870137c522722275536/hyperlinkarea.cpp#L32
[demo presentation]: https://github.com/dan

[2015-08-06 09:54] #65 closed

[2015-08-09 11:19] dannyedel commented on #55
Update! `dspdfviewer` was *included* in debian/sid.

Proof: https://tracker.debian.org/pkg/dspdfviewer

[2015-08-09 11:19] #55 closed

[2015-08-11 14:57] projekter opened #67 "Don't show "loading slide" on presentation screen"
If one navigates quickly through the slides (eg by using a hyperlink which points to a slide far away), it takes a moment until the slide is shown. In this time, a black screen with an information text that the slide is being loaded is presented. This is perfectly fine for the internal view; however, the presentation screen should still show the old slide until the new one is ready to be displayed

[2015-08-11 18:18] dannyedel commented on #67
The problem is twofold. One, a far-away-but-hyperlinked page is not preloaded, that will be fixed soon™ when #60 is done.

Second, the Idea that it does "something" immediatly is important to me: As soon as the system has read my buttonpress, it should provide visual feedback that it understood my command immediatly (so I don't click or press again, for example).

I wouldn't like to simply drop it

[2015-08-11 19:12] projekter commented on #67
I agree that the user needs feedback. But there are different possibilites:
- If there is no second screen that can differ from the current (maybe because the screen is mirrored), the notification has to be given to the primary screen, so the audience will see it. There's no way to escape this situation.
- If dspdfviewer is allowed to use a second screen, I think that the audience shall never see

[2015-08-27 13:34] dannyedel commented on #8
This feature was added a month ago in pull request #39, closing this ticket.

[2015-08-27 13:34] #8 closed

[2015-08-27 13:36] dannyedel commented on #33
This ticket has gone a month in the need-more-info & cannot-reproduce states. I'm assuming the problem doesn't exist anymore.

I'll close the ticket, please reopen and provide requested information if the problem still exists.

[2015-08-27 13:36] #33 closed

[2015-08-31 07:19] LocutusOfBorg commented on #55
:)

[2015-08-31 14:52] shaaati commented on #53
How did the testing turn out for a current OS X?
I tried manual compilation on 10.9, which is the second latest release of OS X, and did not succeed.
A native solution would be great as for now, I have to fiddle with virtual machines for presentation.

[2015-08-31 15:02] wwwdata commented on #53
I have to test again, the last time I tried I could not install qt4 via brew because I am using the beta of 10.10.

[2015-08-31 20:03] dannyedel commented on #53
If Qt4 is the problem, *and* you're ready for some experiments, I have now added compatibility for Qt5 into the master branch.

Activate via `cmake -DUseQtFive=ON /path/to/source` at the configure step.

If you're willing to give this a shot I'd appreciate some real-world feedback (but please compile with debug symbols and provide sample-data and backtrace when it crashes : )

[2015-09-01 07:08] dannyedel commented on #53
I have added basic osx building to Travis-CI's integration tests, using their default compiler (clang).
Little compiler differences between clang-linux and clang-osx were present, but they have (hopefully) been dealt with.

@shaaati, please try building the current `master` branch directly from git, using the same commands I fed travis:

[code]

Since you said you're using 10.9, we might be in luc

[2015-09-01 15:34] wwwdata commented on #53
hm, I tested it now and it seems the qt build is still broken because of my el capitain beta ...

[code]

I don't have a mac with the previous OS right now. But if travis can use brew maybe it can also be abused with a custom brew recipe :smile:

[2015-09-01 16:40] dannyedel commented on #53
@wwwdata it seems this is a known bug in brew, Apple seems to have dropped a function from the Mac OS API, and therefore the compile breaks... see Homebrew/homebrew#42370.

Homebrew/homebrew#40585 contains a comment with a possible fix, you might want to try out the patch from this comment:
https://github.com/Homebrew/homebrew/issues/40585#issuecomment-119042611

**Disclaimer:** I have absolutely

[2015-09-01 17:02] dannyedel commented on #53
quote @wwwdata

If you hack a formula together blindly in a git repo of yours, I suppose you can add some kind of `.travis.yml` that basically calls "brew install ./formula.rb", maybe even benefiting from their [build matrix] feature to try qt4 and qt5 depending on an `env` variable.

Since brew looks like a source-based distribution to me (with binaries of some popular libs thrown in), you could

[2015-09-05 13:47] shaaati commented on #53
Im sorry that it took me so long to answer.
@dannyedel I compiled the most recent version as you mentioned in your post literally fifteen minutes before I gave a talk with it. The result was stable, but none of the different timers was shown on the notes screen.

I have no idea why my compilation attempt did not work earlier, because I did it exactly as you said before I posted here.

[2015-09-05 16:06] dannyedel opened #74 "Timers not showing on Mac OSX"
Bug found by @shaaati in #53, quote:

[2015-09-05 16:08] dannyedel commented on #53
@shaaati:

That was most likely my fault, since I used functions from headers without `#include`ing them properly. Because *both* clang and gcc included them by default, I didn't even notice my mistake (not even with warnings cranked up to 11) on my linux box, it was only discovered when I tried to add `osx` to the build matrix.

I have created a new issue to track the timers not showing on OSX; a

[2015-09-05 16:10] dannyedel commented on #74
Note to people reading this ticket:

I don't own a mac myself, any help here is appreciated. My guesses are that it's either the timers getting rendered as black font on black background, or the font definitions is missing.

[2015-09-06 10:00] dannyedel commented on #23
Slight problem: while Xvfb basically supports Xinerama, it will layout two screens *on top of each other*, which is pretty useless.

[code]

Both screens are at `0,0`, so they are on top of each other.

[2015-09-18 13:20] projekter commented on #58
Fixed in https://github.com/dannyedel/dspdfviewer/pull/59.

[2015-09-18 15:00] dannyedel commented on #58
fixed in 83eb2d899cc634323ac9b9b08cd75e9abf54ce1e by @projekter.

[2015-09-18 15:00] #58 closed

[2015-09-21 08:58] dannyedel opened #77 "Translation: Install translations into binary using the resource system"
After #40 is merged, basic translation support is in place and work can start on using *sane* words in various languages, probably starting with german since there is confirmed user interest in that.

However, when loading the translations into memory their path has to be specified, which makes things a lot more complicated on various platforms.

So employ the QResource system to embed the *.qm fi

[2015-09-21 09:18] dannyedel opened #78 "Refactor the Help Dialog box into its own .ui file"
Currently it's a HTML-formatted label. While there's nothing wrong with that, it will probably confuse translators after #40 is merged (not every translator will type correctly formatted html).

If its refactored into its own .ui file, it will have its own class which should provide enough context to translators.

[2015-09-21 09:29] dannyedel opened #79 "Refactor CMakeLists spaghetti file into smaller units"
The file is completely unreadable by now.

It has at least the following parts, and could be split into smaller files named something like those:

* Set options
  * These probably make sense in the top-level CMake, since distributors will read this first
* Find dependencies (boost, qt4 / qt5)
* Set variables (mainly source file lists)
  * This could be left in top-level aswell
* Set compiler flags

[2015-09-21 09:53] dannyedel opened #80 "Support MacOS"
Mission: Make the program have the same release quality on MacOS that it does on Linux.

This will require at least one of

* A person with a Mac that helps with creating testcases/fixing regressions
* Access to a Mac (virtual) machine (with two screens connected) for myself.

Any takers?

[2015-09-24 10:30] #79 closed

[2015-09-24 16:31] dannyedel commented on #80
At least it doesn't segfault anymore on travis, but this can hardly be called "supported".

[2015-09-24 20:33] wwwdata commented on #53
Ok I got it working on El Capitain. The only problem now is the [test-block](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md#add-a-test-to-the-formula) of the brew formula. I have to run the program with something. So I just tried `dspdfviewer -h` to display the help. This is a bad test but it's better than none. And it is the only thing we can do because we

[2015-09-25 07:12] dannyedel commented on #53
Considering that this page itself says that `foo --version` or `foo --help` is a bad test, I'm not sure if doing a proper test is possible *easily*.

Note that since dspdfviewer is a Qt Gui application, *anything* it does will require a working GUI subsystem;
it simply is not a command-line tool.
On X11, the [QApplication constructor] will stop the program if $DISPLAY is not set, that's even befor

[2015-09-25 07:20] dannyedel commented on #53
Of course, the [evince] formula only parses the `--version` output...

[evince]: https://github.com/Homebrew/homebrew/blob/ad42fc0caf929208fdbaf41fd06991729abdd4f9/Library/Formula/evince.rb#L49

[2015-09-26 13:33] wwwdata commented on #53
hm, I din't know if these tests can be performed by the homebrew tester. But my current formula looks like this: https://gist.github.com/wwwdata/666d57a9f074ca79f48d

[2015-09-27 06:27] dannyedel commented on #53
One more comment from me:

* If you are reworking the formula anyway, you may want to specify a link to the [head] revision too, so users willing to test features not-yet-released can easily do so.

[head]: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md#unstable-versions-head-devel

[2015-09-27 10:23] wwwdata commented on #53
Yes good idea. In will update my pr this evening.

[2015-10-02 06:34] wwwdata commented on #53
it got merged in homebrew. They suggested that we compile dspdfviewer with qt5 in the future because qt4 support is very bad and will not be there in the future.

[2015-10-02 09:29] dannyedel commented on #53
Nice, thanks :+1:

Now all that's left is update the [macos] install instructions and this issue can be closed.

-----

Regarding qt5 support: Please start testing HEAD builds with qt5 under MacOS and report any strange things.

While I still consider the support experimental (mostly because [poppler-qt5] does not declare a stable version yet) it should™ work and bug reports are more than welcome.

[2015-10-02 18:09] dannyedel commented on #53
fixed by #83. Thanks!

[2015-10-02 18:09] #53 closed

[2015-10-05 12:40] projekter opened #85 "Change library version name"
Compiling DS PDF viewer with the recent changes in cmake structure fails, because the new library is called the same as the application itself (VC++ always creates a .lib file when building the .exe - so the linker tries to include dspdfviewer.lib and build this file at the same time in the same directory, which cannot work).
In my settings, I have changed the .lib's name to libdspdfviewer.lib to

[2015-10-05 12:43] projekter commented on #85
The fix is now included in #84.

[2015-10-06 17:52] #85 closed

[2015-10-14 05:50] dannyedel commented on #74
@shaaati, in the meantime #82 was developed, verified by wwwdata, and merged. Can you try to compile current master on your MacOS and test whether it solves the problem for you too?

[2015-10-15 12:38] shaaati commented on #74
It works fine for me. Thanks for the nice work:).

[2015-10-16 08:06] #74 closed

[2015-11-03 12:25] alamasad84 opened #87 "DSPDFViewer : Both windows of presentation spawning on the same screen"
I was trying to use dspdfviewer on windows for presentation made using LaTex. I have placed second screen on right. It opens two different windows, one for the presentation and one for notes. i have also extended the displays with my laptop screen on the right and projector screen on the left. However, both screens appear on my right screen, i.e., my laptop screen and i cannot move the main presen

[2015-11-03 14:08] projekter commented on #87
I observe the same thing whenever I open the presentation; simply hit 's' and the presentation appears on the correct screens. I never thought of reporting it, but you're right, this should be fixed.

[2015-11-03 14:16] alamasad84 commented on #87
Yes, it works. thanks.

On Tue, Nov 3, 2015 at 3:08 PM, Benjamin Desef <notifications@github.com>
wrote:

--
Syed Asad Alam
PhD Student
Computer Engineering, ISY
Linköping University,
Linköping, Sweden
alam.asad [at] gmail [dot] com
syed [dot] asad [dot] alam [at] liu [dot] se
Office: 0046-(0)13 28 13 57
Cell : 0046-(0)76 582 81 00
Personal Website <http://sites.google.com/site/alamasad/>
Official

[2015-11-03 16:40] projekter commented on #87
Ok, I've looked into it. The problem is in PDFViewerWindow::reposition().
There are basically two possibilities:
- Remove all the rect retrieval and position setting stuff and replace it by a call of windowHandle()->setScreen(), followed by showFullScreen(). I think that this is the cleaner approach, as it really tells the OS that this window is maximized on a different screen. Or
- First call sho

[2015-11-03 16:56] projekter commented on #87
You may now download a [pre-release](https://github.com/projekter/dspdfviewer/releases/tag/v1.14-335-g9bd0175) of the new version 1.14 which has this bug fixed.

[2015-11-05 07:01] #87 closed

[2015-11-05 07:23] dannyedel opened #90 "Regression: Both windows spawn on primary monitor"
Platform: Debian Sid/Openbox/Qt5

Git Revision: d2945f8 Merge remote-tracking branch 'projekter/push'

When compiling in Qt5 mode, both windows spawn on the primary screen on top of each other and do not move. The S key re-renders them, but their positions do not change.

[2015-11-05 07:41] dannyedel commented on #90
Git bisect says:

It seems I merged #88 too fast (I only tested on Linux/Qt4).

[2015-11-06 06:22] #90 closed

[2015-11-17 09:34] #77 closed

[2015-11-17 10:11] dannyedel opened #97 "Add support for external URL Hyperlinks"
Currently only `go-to-page-X` style hyperlinks are supported.

It would be nice if dspdfviewer would also support hyperlinks of the `http://example.com` variety.

[2015-11-19 08:22] srocheepfl opened #99 "*.jpg files not displayed within the PDF compiled with beamer latex"
Hi,

I have jpg files within my beamer presentation. After compiling, they are in the PDF files.
But when using Dual-Screen PDF viewer, they are not displayed both on the preview and the slides.
Does it need any setting to solve the problem?

Best.

[2015-11-19 08:53] dannyedel commented on #99
Hi,

dspdfviewer does not require anything special to render images included in the PDF.  I tried to create a minimal [testcase] which does render (see screenshot below, ~260kb) on my system.

Please try rendering (and rebuilding) the [testcase] aswell and see if that works (it may be an issue with your presentation, not with dspdfviewer)  Please make sure to call use pdflatex directly, calling la

[2015-11-19 09:49] srocheepfl commented on #99
Hi,

Thank you for your fast answer.
Even with your documents, it doesn’t work.
I can compile your latex file.
I get the same PDF than you with the picture inside.
When launching with dspdfviewer, no picture in the “file”.

  *   What Operating System or Distribution are you running? (Debian, MacOS, Windows, Gentoo, etc) Windows 8.1
  *   What version of dspdfviewer are you running? (call dspdfvie

[2015-11-19 10:50] dannyedel commented on #99
Okay, this sounds like a genuine bug in dspdfviewer.  I will do my best to reproduce and then fix.

@srocheepfl Do you remember which version you downloaded (v1.13.1 Qt5 / Duplication of audience screen / German translation pre-release) from the windows binaries?

@projekter: Can you check whether this is a windows-specific (or even, windows-8.1-specific) bug?

[2015-11-19 10:53] dannyedel opened #100 "Show program version in F1 popup"
In case calling `--version` is inconvenient or impossible (see #99 for an example), users should still be able to see the version number.

Embed the version number into the F1 (keybindings) quick-help.

[2015-11-19 11:33] projekter commented on #99
It seems to be Windows-specific. I have just tested the PDF. There is no JPG displayed; after that, I tried the [old Qt4](https://github.com/projekter/dspdfviewer/releases/tag/v1.13-38-g290aed9) version. In this, the JPG is shown.
As soon as I have time, I will have a look into it. There are several possibilities. Perhaps it is a bug or misconfiguration in turbojpeg, which I used for compiling the

[2015-11-19 11:50] dannyedel commented on #99
@projekter Thanks for checking this out so quickly! The qt4 version should allow @srocheepfl to get some work done while we solve the problem.  Good thing github doesn't delete old binaries : )

I will also create a regression test for this, to automatically detect if it ever breaks again.

[2015-11-19 12:23] srocheepfl commented on #99
These are the versions I have been tested with the same bug:

v1.14-335-g9bd0175<https://github.com/projekter/dspdfviewer/tree/v1.14-335-g9bd0175>
v1.13-218-g83eb2d8

It’s working fine with v1.13-38-g290aed9.

[2015-11-19 16:00] #100 closed

[2015-11-19 16:31] dannyedel commented on #99
@projekter: I have added a regression test to master, so this kind of thing can be caught in the future.

Once you have some time, could you `git rebase` the windows port against the current master, and verify that running`make test` (or  `ctest --output-on-failure` for more detailed output) detects the image rendering failure?

[2015-11-20 18:48] fhgd opened #103 "Customizing the thumbnails"
* In the actual version the thumbnails show the whole slide (audience slide and note slide). I think it would be more useful to show only the audience slide

* Would it be possible so switch on and off the last, actual and next slide separately?

* Is it possible to move the thumbnails onto the right side of the presenter screen? Maybe the actual slide thumbnail on the upper right and the next one

[2015-11-21 08:43] dannyedel commented on #103
Thank you for your suggestions, they are good ideas.

These will require source changes, but two of them they may be quite small.
If you compile from source, you can try to "make it work" right now using a few quick hacks.

1. Change thumbnail page part:
  * Right now that requires a source change in two functions: [toThumbnailRenderIdent] and [renderedPageIncoming], simply change them to `PagePar

[2015-11-21 09:10] dannyedel opened #104 "Upstream windows-specific source and buildsystem changes"
@projekter, you have done an amazing job porting this to windows. :thumbsup:

Looking at the [diff] from master to your windows port, it seems there's still a few changes necessary, and I'd like to include them in upstream, blocked into `#if defined ( _WIN32 )` and `if ( WIN32 )` for sourcecode and cmake, respectively.

If it's not too much to ask, It would be nice if you could make a pullrequest

[2015-11-21 10:11] projekter commented on #104
I chose the approach to have a [push branch](https://github.com/projekter/dspdfviewer/compare/push...projekter:master) that contains every change that is supposed to be in the main project as well. My master branch contains all adjustments that were necessary on my system in order to compile with all dependencies.
First of all, neither is C++ my usual programming language nor do I have experience

[2015-11-21 10:56] dannyedel commented on #104
Ah okay, I see : ) If possible, please start actual pull-requests for features that are meant to go upstream, so I see when you've got a feature or bugfix ready. (Bonus points for semantic pull-request-branch-names, like `windows-patch-for-cmake` or similar. You can always have multiple topic-branches open at the same time, and sometimes it's easier to merge things individually, rather than merge

[2015-11-22 22:20] dannyedel commented on #104
I have added a switch for static/dynamic linking of boost in #105, so that's one out of the way.

Turned out, cmake provided out-of-the-box support for "link boost statically", so I used that in the hope that it will work better across all platforms.
I don't know how to check osx, since they dont have `ldd` command that linux uses to inspect a binary for dynamic links, but I hope it makes it a bit

[2015-11-23 09:47] fhgd commented on #104
On Sat, Nov 21, 2015 at 02:11:30AM -0800, Benjamin Desef wrote:
[...]

Did you know of ZeroInstall?

    http://0install.net/

The software package is described with an xml file (download url,
dependencies, checksum, ...) and is downloaded with the 0install client
into a cache directory. I like this solution because everything is done
locally without root/admin right.

[2015-11-23 14:07] dannyedel commented on #80
Remove bug label and change wording, since this is more of a organisational issue.  Right now, we have travis-CI building it on a mac OS and executing unittests, this should catch the most serious (FTBFS style) errors.

[2015-11-23 14:48] dannyedel opened #108 "Linux: German Umlauts printed not as UTF-8 on the console"
Running a command like this on Linux console creates invalid UTF-8:

[code]

Looking at a hexdump, it does output `0xFC` (which is the correct unicode codepoint for `ü`), but the correct UTF-8 formatting would be `0xC3 0xBC`.
I expect this is an issue with the conversion from/to `std::string` to integrate `boost_program_options`, so fix this before v1.14 gets out.

[code]

[2015-11-23 15:03] dannyedel commented on #104
@fhgd: I did read through the website, and I didn't find any search engine for packages. Do you know if there are already packages for the build-dependencies of dspdfviewer (`boost`, `Qt` and the `poppler` library with Qt bindings)?

[2015-11-23 15:37] fhgd commented on #104
On Mon, Nov 23, 2015 at 07:03:14AM -0800, Danny Edel wrote:

The old and short package list is

    http://0install.net/injector-feeds.html

THe newer one is

    http://roscidus.com/0mirror/
    http://roscidus.com/0mirror/feed-list

BTW: Since this is a decentralized package system there is no central
place where *all* feed are listed. For me its a disadvantage...

[2015-11-23 16:41] #108 closed

[2015-11-24 17:15] dannyedel commented on #104
@fhgd regarding the packages: I've gone through it, and I can't find poppler or qt4/qt5.
I did find a qt3 package, but I think I must have operated it wrong (I doesn't seem right qt4 or qt5 is not packaged at all, its used by a lot of cross-platform apps these days)

@projekter The windows help is included now, all thats missing is the CMake changes.

Please box them into `if (WIN32)` blocks for w

[2015-11-24 17:26] projekter commented on #104
I was waiting with the CMake changes as "something" has to be wrong there (JPEG rendering issue). I just wanted to find out which library causes the problems (OpenJPEG or turbojpeg). In all builds, I have used OpenJPEG 2.1, but it is reported [here](http://www.linuxfromscratch.org/blfs/view/svn/general/poppler.html) that the 2 version might cause some issues. Yesterday, I checked building with Ope

[2015-11-24 17:56] dannyedel commented on #104
I think it's perfectly fine to start the pullrequest with the JPEG bug still in it; Use a `[WIP]` prefix (work-in-progress) then I know I'm not supposed to merge yet. (You can always edit the title later)

If I have some spare time, I might try reproducing this in a VM, maybe I can help track down the bug.

[2015-11-25 17:41] dannyedel commented on #104
@projekter: In my attempts to reproduce building `dspdfviewer` on Windows, my already big respect for your achievement has only grown. If I wouldn't know that it is possible (because you did it) I would have given up a while ago.

Long post ahead.

  * tl,dr: I'm failing epicly.  Compiling on Windows is absolutely not trivial for someone with a Linux background.

So far, I have not been able to co

[2015-11-25 18:41] dannyedel commented on #104
Update: I did get it to compile quite easily using the MSYS/pacman system. But -- as expected -- the resulting binary is dynamically linked against the files in the MSYS environment.  Back to working through the dependency hell, i guess.

[2015-11-27 16:25] dannyedel commented on #104
@projekter: I give up trying to reproduce.  I simply don't have enough knowledge of the windows/msvc system to get all those dependencies to work.

I did add a few things that I discovered using the MSYS toolchain, and I've gotten through to `cmake` with a MSVC toolchain, but I can't manage to get the dependencies to compile, so obviously dspdfviewer fails at configure time.

Once again, massive r

[2015-11-28 12:48] projekter commented on #99
I managed to track down the problem to one of the jpeg dependencies. Compiling without turbojpeg and OpenJPEG (using the unmaintained internal DCT and JPX decoder of poppler) displays the images properly. I don't think OpenJPEG is the problem but turbojpeg. I think I can fix the problem today.

[2015-11-28 20:12] projekter commented on #104
#118 now contains all the necessary adjustments on Windows. I think I will drop my master branch and use the push branch as new master, as rebasing lead to horrible artifacts in lots of files.
I think it would be a good idea to create a Poppler on Windows repository, containing all dependencies. But this is definitely a project for the next holidays.
There is only one thing which I did not include

[2015-11-28 20:15] projekter commented on #99
Confirmed, problem is solved in #118. libjpeg/turbojpeg (I tried both and also older versions of libjpeg) triggered the problem. I found no proper solution (not even a reason), this will require some more work. But compiling poppler without libjpeg works, although not recommended. And the pictures are shown.

[2015-11-28 20:17] projekter opened #119 "Embed Qt translation resources"
The new system of embedding translations works well, but Qt's translation files are not included in the application.

[2015-11-29 10:45] #99 closed

[2015-11-29 10:58] dannyedel commented on #104
This sounds like something you might want to include, but hidden behind a switch.

suggestion:

[code]

Since these are compiler specific, they should go into a `cmake/compiler_msvc.cmake` fragment.  But you should include it, after all the whole idea of this is to add the build-on-windows things into upstream.

----

This is one of the reasons I wanted to your changes upstream. Your branches shou

[2015-11-29 11:03] dannyedel commented on #119
You're right. These are, for example, the labels in the File-Chooser form.

I'll see that I add a method to include them too, probably hidden behind a cmake switch.

On my platform (dynamically linked with dependency package manager) the translations are shipped with the qt libs, so they were always present at runtime, thus I didn't notice.

[2015-11-30 11:42] #119 closed

[2015-11-30 20:13] dannyedel commented on #104
Since all pull-requests are merged, and the windows build system changes are included in `master`, I'm closing this.

[2015-11-30 20:13] #104 closed

[2016-01-20 19:17] killes opened #137 "Support Request: Has anybody used this successfully with webex?"
I am trying to give a screen presentation through webex. I can share dspdfviewer but the others get the presenter view when I look at it. Note: I am not using a second monitor. Do I need to set up a virtual second monitor? Any hints are appreciated!

[2016-01-22 06:18] dannyedel commented on #137
If you have only one screen physically attached, it's very likely that your windows ended up behind each other. Check with Alt-Tab (or equivalent, depending on your desktop environment) if that could be the case.

I don't know how webex works, but I assume that it cannot see the "behind" window, so you would need a place (normally the second physical screen) to have the audience side in foreground

[2016-01-22 08:29] killes commented on #137
Thanks for the encouragement! I am on Debian Jessie. Haven't figured out how to set up a virtual monitor yet.

With Webex, I can chose "share application". I then see a list of all running applications and can pick a window. Both dspdfviewer windows are available, but when I try to select the one for the viewers, both get selected. Also, the other people will only see the one that is active on my

[2016-01-22 22:49] dannyedel commented on #137
Right now, both windows expose to the OS that they are part of the same application.  I'll have some time to experiment after the weekend, maybe I can cook up a patch that pretends that the windows are part of different applications : )

In the meantime, could you check whether webex is able to correctly stream a non-visible window? (A web browser pointed to some news site with lots of flashing im

[2016-01-26 12:04] killes commented on #137
Webex apparently has decided that "share application" is to be for paid up users. I may be able to test with a client's account, but I can't promise it.

I guess I could try with google instead.

[2016-01-28 07:20] raissel commented on #48
Hi,
Can't run the binary in Windows 10 because of a bad allocation error. Anyone has it working on Windows 10? Any suggestion on how to get it working?

Thanks!

![error](https://cloud.githubusercontent.com/assets/13871772/12637746/93bb55ce-c58f-11e5-9dfb-27cecf88e7b4.png)

[2016-01-28 07:51] dannyedel commented on #48
@raissel thank you for reporting the problem.  But can I please ask you to report this as a [new issue][1]? It doesn't seem to mention the `MSCVP120.dll`, so I don't see why we should reopen this one.

[1]: https://github.com/dannyedel/dspdfviewer/issues/new

[2016-01-28 08:51] raissel opened #140 "bad allocation error"
I'm trying to use the binaries for the last available version v1.14 (I've tried older ones and get the same problem) in a Windows 10 64 bits PC. I get a 'bad allocation' error.

Any idea of how solving this?
Thanks!

![error](https://cloud.githubusercontent.com/assets/13871772/12639433/46805fa4-c59c-11e5-8d10-268b6b55e2a3.png)

[2016-01-28 08:53] raissel commented on #48
Done, thanks for your fast reply.

Please let me know if any solution comes out. I have an important
presentation by tomorrow and I can't manage to get the notes in one screen
and the presentation in the beamer.

best regards

On Thu, Jan 28, 2016 at 7:51 AM, Danny Edel <notifications@github.com>
wrote:

--
_________________________________________________________
Raissel Ramirez Orozco
Geometry a

[2016-01-28 09:15] dannyedel commented on #140
I will look into it, but I'm CCing @projekter on this since he's the windows expert.

In the meantime, can you try downloading other versions from https://github.com/projekter/dspdfviewer/releases and check if one of them works? This may be a regression.

I see in your screenshot that this is the version [v1.13-55-g3af1b8c]
(https://github.com/projekter/dspdfviewer/releases/tag/v1.13-55-g3af1b8c)

[2016-01-28 09:25] dannyedel commented on #140
Sorry, I overlooked that you already checked that all versions are affected.  I'm trying to reproduce this now in a VM

[2016-01-28 10:27] dannyedel commented on #140
@raissel according to google, "bad allocation" normally indicates some kind of out-of-memory condition on windows.

Could you check whether you can correctly open the very small [lipsum] pdf ?  If that works, but your large presentation does not, please report how much memory your system has free, how many pages your presentation has, and what screen resolutions you are using.

For example, on a d

[2016-01-28 12:03] raissel commented on #140
It is definitely a memory problem.

I have 8gb RAM, 4 of them free when launching the application. My presentation has 98 slides, the resolution is 1920x1080 and the PDF file weights 135 mb.

I tried with just a few slides and it works perfectly.

Thanks dannyedel for answering so fast !!

[2016-01-28 13:54] projekter commented on #140
I built and tested the application on Windows 10, so this should not be an issue.
I will try to figure out whether I can build a 64 bit version of the application, which can then make use of more than 2 GB of RAM.
The presentation which I use twice a week has 380 slides and 3 MB; dspdfviewer loaded with it consumes about 100 MB of RAM at the beginning and slowly increases, when more slides are loa

[2016-01-28 14:46] dannyedel commented on #140
On 28/01/16 14:54, Benjamin Desef wrote:

And in the meantime, on Linux I will try and see whether I can improve
the "out of memory" handling.  Just reporting bad alloc to the user and
dying is certainly not very useful, especially if caused by slides in
the cache, which could be safely deleted and re-created.

[2016-01-28 18:13] dannyedel commented on #140
I can now reliably reproduce the issue.

With the following commands, it is currently guaranteed to die somewhere due to bad_alloc.

[code]

As a workaround, I can currently recommend setting `--prerender-next=1 --prerender-previous=1` to minimize the impact by the render threads.  The current implementation turns out to be a massive memory hog, since it will start up to `(prev+next)` renderers at

[2016-01-28 22:38] dannyedel opened #142 "Integrate windows build into CI?"
@projekter, do you know any free-for-open-source service that would, similar to how Travis-CI does it with Linux/gcc+clang and MacOS/clang, build each revision / each pullrequest against a Windows/MSVC installation?

That way we could catch fails-to-build errors automatically.

[2016-01-29 13:13] #140 closed

[2016-01-29 17:46] projekter opened #143 "Invalid boost namespace in testhelpers"
The testhelp project does not compile under Windows, since print_log_value is in namespace boost::test_tools::tt_detail, contrary to boost::test_tools.

[2016-01-29 17:55] projekter commented on #142
I do not have any experience with those systems and before compiling dspdfviewer, I never used MSVC or worked seriously with C++, so I'm sorry I don't.

[2016-01-30 12:04] dannyedel commented on #142
Okay, no problem.  I just would prefer if I could get an automated check for build-issues like #143 at the pull-request stage, like I get with Travis for Linux and OSX.

I checked https://github.com/integrations/feature/code and the first one that lists "Windows" support is called AppVeyor.  It does say free for open source, so I'd give that one a try.  The configuration seems really similar to Tr

[2016-01-30 12:49] #143 closed

[2016-01-30 13:03] projekter commented on #142
I think it will work, as long as you can tell the system to use Visual Studio 2013 (Community). I published a [release containing all dependencies](https://github.com/projekter/dspdfviewer/releases/tag/v1.14-42-g4acfb31). I did not include the Microsoft SDK dependencies, as I don't think license allows me to do so. But those should be shipped with recent versions of Windows or can be downloaded vi

[2016-01-30 13:14] dannyedel commented on #142
Thanks, this is pretty cool!  I'll try and see if it works as intendend; I'll report back if there are any missing files or changes to cmake required.

[2016-01-30 15:35] dannyedel commented on #142
All right, I set it up but [it fails to build][1] : (

I made it download the zip and extract it as `C:\dspdf\poppler` so it can use the hardcoded filesystem paths in [external_libraries][2].  Is it possible you forgot to include pathnames when creating the zip?  They all got dumped directly into the directory, without sub-dirs created.

Also, it seems the dependency archive is missing the include

[2016-01-30 16:45] projekter commented on #142
Ok, then I did "too much" by putting all those libraries in one directory. I updated the release. Now it contains the original directory structure, only that I have removed all debug versions of the libraries, which would blow up the archive very much (but I can include them if you wish), and I removed Qt5 and Boost, as you said they were detected. So now the content should be extracted to `C:\dsp

[2016-02-22 11:07] dannyedel opened #151 "Cleanup c++11 detection"
Since I'm dropping support for qt4 in 1.16, we can simpify the c++11 detection used in GCC.

Use `CheckCXXCompilerFlag` with `-std=c++11` and then fallback to `-std=c++0x`.  If both fail, simply give up.

This replaces the large if/else which depends on the knowledge of exact version numbers when gcc added those features.

[2016-02-22 12:55] dannyedel commented on #137
Hi @killes,

I'm really sorry for the late answer, but in the meantime I tried out a few things.  It turns out that I can *not* make Qt give the windows different application IDs, since there is only one QApplication object allowed to be constructed during runtime.

I also tried my hands at Xdummy/Xvfb (mainly for the unittests, to test the "swap screen" function) with the hope to emulate a two-sc

[2016-02-22 13:13] killes commented on #137
@dannyedel No problem at all! I kind of dropped the ball as well. I am glad you did all these experiments, I sort of got stuck.

It is sad that there are reasons why this can't work. But then it is maybe not the most common use case.

The talk in question went fine, so unless somebody else needs this, I suggest we close this ticket.

[2016-02-22 16:22] #137 closed

[2016-02-22 17:03] #151 closed

[2016-02-23 20:30] dannyedel opened #154 "MSVC Dynamic/Debug build crashes"
Using the prebuilt dependencies from #147, building in Debug mode results in a Stack Overflow.

Current Working Theory:

A library in release mode `new`'d the pointer, but we `delete` it in Debug mode, triggering the "Was this memory block alloc'd with (debug) `new`" and the double-free check, which both fail since the memory block was never put into the list.

----

Debug this and spawn a new PR

[2016-02-23 21:07] #142 closed

[2016-02-24 09:13] dannyedel commented on #154
@projekter this batch script reproduces the "Stack overflow" crash for me.

https://gist.github.com/dannyedel/9bdbcb2e44e568ba1c39

Win7 VM state before running script:

* Install MSVC 2013 (a.k.a. version 12.0) Community update 5
* Install boost 1.60 msvc 12.0 32 bit
* Install qt 5.5.1 msvc2013 32 bit
* Install cmake 3.4.0 (added to path)
* Install git for windows 2.7.1.2 32 bit (only git added t

[2016-02-24 10:25] dannyedel commented on #154
I had a lengthy answer ready and then the power went out.  Serisouly.  (Note to self: Save money for UPSs also on the workstation, not just the homeserver)

Short story:

* CMake correctly passes the `…d.lib` argument to MSVC's `link.exe`.
* When I load the binary into MSVC and check `Debug -> Windows -> Modules (Ctrl+Alt+U)` it lists the `…d.dll` for the Qt stuff, but *not* for the precompiled de

[2016-02-24 10:30] projekter commented on #154
Yes, that's exactly what they are supposed to do. Sorry for this, I should have mentioned it: The applications normally do not have separate libaries, depending on whether they are debug or release compiled. If you want to use the debug libraries, you have to copy them to the application folder and remove the "d" from the filename. That's the only way to enforce their usage.

[2016-02-24 10:34] dannyedel commented on #154
Thanks for the quick answer!

Trying that now :+1:

[2016-02-24 11:01] dannyedel commented on #154
Now it works.

It turns out, copying the debug `poppler-qt5d.dll` is enough to solve the problem at hand, since now no more library seems to be double-loaded.  I'm not sure if I'm in the realm of undefined behaviour here, but now the testsuite walks through without erros and I can call `Debug\dspdfviewer.exe` and use it.

For reference: Module List now

![modules-loaded-debug-poppler-qt5-0](https:

[2016-02-24 11:11] projekter commented on #154
Compiles and runs all tests without any complaints.

[2016-02-27 10:28] dannyedel opened #156 "[help needed] Testsuite fails on big-endian machines"
This was originally reported as [Debian bug 816081][deb816081]

On big-endian machines, the testsuite currently fails with mismatching colors, indicating an endianness issue.  (See linked debian bug for details)

Help needed:  I don't have access to a physical big-endian machine with an X-Server, and cannot check whether this is a real issue, or a bug in the test suite (i.e. the real XServer would

[2016-02-27 13:33] #154 closed

[2016-02-28 11:30] dannyedel opened #161 "Improve i3 support, and generalize desktop support in the process"
Motivation: I use it myself

What should it do

* Query RANDR outputs via i3 ipc
  * `i3-msg -t get_outputs` gives JSON
   * Only check active:true and hope it's two of them
   * The one with primary will likely be the laptop screen
* Use i3's IPC mechanism to send "Move window *id* to output *name*

This can be generalized to "Desktop environment support modules", and move the Window-Movement cod

[2016-04-02 10:27] zhangkmsjtu opened #163 "Does it support Chinese?"
Does it support Chinese?

[2016-04-02 15:46] dannyedel commented on #163
Yes and no:

* Yes, it should™ support LaTeX documents containing chinese characters, as long as the fonts are embedded in the PDF file.  If this doesn't work, please create a demonstation pdf and I'll investigate.
* No, the *user interface* is not yet translated.
  * If you want to add a translation, you will need to add your new translation file in two places:
    [cmake/filelists.cmake][1] and

[2016-04-03 03:01] zhangkmsjtu commented on #163
\documentclass{beamer}
\usepackage{pgfpages}
\setbeameroption{show notes on second screen}
%\usepackage[timeinterval=1]{tdclock}%dspdfviewer不支持tdclock宏包
\usepackage[UTF8,scheme=plain]{ctex}

\usetheme{Madrid}

\title{中文标题Chinese Title}
\author{中文名Chinese name}
\date{\today}
\institute{sjtu单位}

\begin{document}

\maketitle

\section{Introduction}

\begin{frame}
 \frametitle{Introduction}
\begin{ite

[2016-04-03 03:03] zhangkmsjtu commented on #163
[Beamer_Chinese.zip](https://github.com/dannyedel/dspdfviewer/files/201147/Beamer_Chinese.zip)

[2016-04-03 03:05] zhangkmsjtu commented on #163
The Chinese fonts cannot be displayed on a dspdfviewer.

[2016-04-03 08:36] dannyedel commented on #163
Thanks for the document upload.  I'll look into the issue and report back.

[2016-04-03 09:09] dannyedel commented on #163
Hi @zhangkmsjtu I tried to view the PDF you supplied in the zip with dspdfviewer (current master from source, and additionally checked the Debian stretch and Debian sid binaries), and it displayed the following on the helper monitor:

![screenshot](https://cloud.githubusercontent.com/assets/782418/14231641/4b4b634e-f98b-11e5-8ed0-6ca5fe66ed8b.png)

To me, this looks like it worked.  To figure out

[2016-04-03 10:07] zhangkmsjtu commented on #163
Specific infromation:
windows 7, v1.14
![dspdf4](https://cloud.githubusercontent.com/assets/12411065/14231881/8df6105a-f9c6-11e5-99bc-4fda79351310.jpg)
![dspdf3](https://cloud.githubusercontent.com/assets/12411065/14231883/af8cd834-f9c6-11e5-9692-2ce7f2fe3e05.png)
![dspdf2](https://cloud.githubusercontent.com/assets/12411065/14231889/e0600698-f9c6-11e5-8270-17a62ae144ec.jpg)
![dspdf](https://cloud

[2016-04-03 11:01] dannyedel commented on #163
Thank you for the detailed information! This should™ be all the info needed to reproduce and debug this.

I will CC @projekter on this, since he's the windows expert.  In the meantime, I will try to reproduce this in a windows 7 VM and see if I can improve on the situation.

[2016-04-03 11:08] zhangkmsjtu commented on #163
Thank you very much for everything you do.

[2016-04-03 15:11] dannyedel commented on #163
Progress report:  This is *definitely* the missing `poppler-data` package.

I can reproduce the problem on a Linux host by removing the poppler-data package, I get the exact same result (chinese glyphs don't get rendered at all).

I will try to figure out where to copy the files on a windows machine.

[2016-04-03 15:18] projekter commented on #163
Yes, I had to build poppler without the data package. But the reason for this was that I could not figure out where to put this package and how to configure poppler so that it actually uses it. So any hints will be appreciated, I'm sure this can be fixed easily.

[2016-04-03 15:41] dannyedel commented on #163
@projekter: On a Linux host the poppler-data gets installed into `/usr/share/poppler/` and `/var/lib/ghostscript`, see [debian listing][1] for example.

When running on Debian with `strace -e open -f dspdfviewer`, I don't see any attempt to load files from the "ghostscript" directory, so I'm not sure if that part is really needed.

I think it should™ be possible to tell poppler at the cmake time w

[2016-04-03 15:46] projekter commented on #163
So poppler-data is kind of a standalone, that does not need to be compiled into poppler? That's interesting.
The problem I had is that in all instructions you are told to extract poppler-data to `/usr/share/poppler`. As this is not a valid path on Windows, I tried to figure out where to change it, but I could not figure out a cmd switch, and I remember I found a statement that this path is hardcod

[2016-04-03 16:11] dannyedel commented on #163
@projekter:  The path `/usr/share` apparently gets mapped to `C:/dspdf/` by default. I got this by running https://live.sysinternals.com/Procmon.exe against "Program Name is dspdfviewer.exe, Operation is CreateFile" -- which is a bit misleading, but apparently CreateFile also captures "open existing file" attempts.

----

@zhangkmsjtu As a temporary workaround, you can download the `poppler-data-0

[2016-04-03 16:18] projekter commented on #163
Just a minute too late. That's what I just wanted to say.
I don't know whether there is a way to embed the encodings into the executable; I don't think so. But it should be no problem to change the poppler sources such that they will look for those encodings in the current application directory. I think this would be the most convenient way.
Btw., @zhangkmsjtu: I tried to compile the code you gave

[2016-04-03 16:30] dannyedel commented on #163
Agreed.  The only thing to watch out for is probably that the directory can have different names depending on the language and bits of the windows -- I've seen `c:/program files/dspdfviewer`, `c:/program files (x86)/dspdfviewer`, and `c:/programme/dspdfviewer` so far.  I don't know if these are really all mapped to the same thing (for example, when I open a german windows' drive on Linux, `c:/Benu

[2016-04-03 16:54] zhangkmsjtu commented on #163
1. That's normal when the code is compiled with TeX Live 2015.
Texlive2015_Beamer_Chinese:
![texlive2015_beamer_chinese](https://cloud.githubusercontent.com/assets/12411065/14233586/935d3026-f9ff-11e5-8a2a-479f79c3098c.png)

2. It cannot be displayed correctly as the code is compiled with ShareLaTeX (https://www.sharelatex.com).
Sharelatex_Beamer_Chinese:
![sharelatex_beamer_chinese](https://cloud

[2016-04-03 16:56] projekter commented on #163
Yes, of course. I am just updating poppler to the most recent version (if I have to edit its sources, this is a good moment) and will then post a new release.
And the folders are very different, not just aliases, so I'll need runtime-behavior. At the moment, poppler uses a constant for the path. I just changed this /usr/... constant to C:/dspdf in order to make it at least possible for Windows use

[2016-04-03 16:58] projekter commented on #163
Ha, this looks promising. The new poppler version has some flags in its cmake called "poppler_data_static". Perhaps that's what I looked for.

[2016-04-03 19:23] projekter commented on #163
Please have a look at the [latest release](https://github.com/projekter/dspdfviewer/releases/tag/v1.14-141-g8aadd17), for me this fixes the problem.
As there was no way to do it statically, but poppler already provides means to search relative to the current application, I used the original poppler implementation of its most recent version and included a directory structure in the setup that confo

[2016-04-04 01:30] zhangkmsjtu commented on #163
GOOD JOB.
It's ok now.

[2016-04-04 01:35] #163 closed

[2016-04-05 16:53] dannyedel commented on #156
The testsuite is now (v1.15) disabled by default on Big-Endian systems.  This should "fix" the FTBFS, but without access to a real machine, I cannot diagnose it further right now.

[2016-05-10 14:46] Svendergrosse opened #173 "make standard 14 fonts available"
I very much like dspdfviewer. However, I have a problem: It does not display certain fonts (e.g. symbol) even though they are amongst the standard 14 fonts. I assume that they are not available in dspdfviewer and the struggle arises as pdfs generated by some programs don't even have the option to include these.

I wonder whether this can be fixed.

[2016-05-10 15:02] dannyedel commented on #173
I will try to check if I can do something about this, but I will need an example PDF using those fonts un-embedded to reproduce the problem.

Additionally, please include the following information:
* Which version of dspdfviewer are you running?
* What operating system are you using?

[2016-05-11 15:31] Svendergrosse commented on #173
Dear Danny,

thanks for the swift response. Attached is a pdf and a screen.
The pdf has the letter a in a box which does not display in dspdfviewer.

My platform is Windows 7 and I am using dspdfviewer version 1.15.

Best,
Sven
![symbol test 1](https://cloud.githubusercontent.com/assets/6673512/15186651/6e5fe96e-17d0-11e6-95ec-8e8ab3c46694.png)
[Symbol Test.pdf](https://github.com/dannyedel/dspdfv

[2016-05-14 11:00] dannyedel commented on #173
On Debian, this renders with a little small letter alpha inside, so this seems to be a windows specific bug. CCing @projekter -- this may be similar to #163 in the sense that maybe just a file is missing or at the wrong location.

Output on Debian:

![looks-on-debian](https://cloud.githubusercontent.com/assets/782418/15268028/bd398b40-19d2-11e6-8c9d-eb609b115d34.png)

I can reproduce the problem i

[2016-05-14 12:52] projekter commented on #173
This time, I don't think there's extra data to provide for poppler and ProcMon does not tell anything about a failed loading attempt.
However, I just went to the poppler web site and found a [bug](https://bugs.freedesktop.org/show_bug.cgi?id=93168) regarding the symbol font which was just fixed in the most recent version two weeks ago. And when I run dspdfviewer in debug mode, an error "Couldn't f

[2016-05-14 13:37] projekter commented on #173
For me, the new [release](https://github.com/projekter/dspdfviewer/releases) works. I can't tell which of the two things made the difference. Now font handling uses the Win32 mechanism instead of Fontconfig. As a result, all Fontconfig related errors in debug mode are gone, but there are new ones: "No display font for ..." where the fonts are ArialNarrow, HelveticaNarrow and BookAntiqua (in all va

[2016-05-14 19:42] dannyedel commented on #173
@projekter: I can confirm this works in my VM too. Thanks!

@Svendergrosse: Please test the new binary installer.  If it works now we can close this ticket.

[2016-05-15 06:09] Svendergrosse commented on #173
Dear Danny and Benjamin,

thank you for the quick help. Indeed, the alpha does display correctly
now. However, there are some characters in Symbol that are displayed
incorrectly. I have attached a pdf with the full Greek alphabet and a
screenshot highlighting those that come out wrong in dspdfviewer. I
wonder whether this is another bug in the module poppler.

Best,
Sven

On 15/05/2016 03:42, Dann

[2016-05-15 07:33] dannyedel commented on #173
On 05/15/2016 08:09 AM, Svendergrosse wrote:

Hi Sven,

sadly GitHub's email reply feature feature still does not support
attachments, as [written in the original announcement in 2011][1], so
your PDF got dropped somewhere along the way : (

Please use the github web interface to attach the PDF.

Thank you,

Danny

[1]: https://github.com/blog/811-reply-to-comments-from-email

[2016-05-16 19:58] Svendergrosse commented on #173
Sorry, I didn't know.

![symbol_test_greek_alphabet](https://cloud.githubusercontent.com/assets/6673512/15302070/9cd03fc6-1be3-11e6-90e1-fbdeb915d7f1.png)
[Test_Symbol_Greek_Alphabet.pdf](https://github.com/dannyedel/dspdfviewer/files/266857/Test_Symbol_Greek_Alphabet.pdf)

[2016-05-17 05:19] projekter commented on #173
I will try to investigate a bit what's happening. But I would rather say this problem is PDF related: I can confirm the wrong letters with your attachment. But then, I embedded all fonts using Acrobat and reopened the PDF and all letters were displayed correctly. Of course the question is why other readers can display it properly.

[2016-05-17 07:59] dannyedel commented on #173
This is how it's rendered on Debian:

![greek_debian](https://cloud.githubusercontent.com/assets/782418/15315044/aa937f06-1c15-11e6-9195-d8f8a26d47c1.png)

So I suppose this is a windows-specific mis-rendering.

There's a bug from 2014 (!) that mentions these exact symbols:

https://bugs.freedesktop.org/show_bug.cgi?id=76893 - Quoting:

- capital delta
- capital omega
- lowercase mu
- lowercase pi

[2016-05-17 08:50] projekter commented on #173
You're right, this must be related to that bug. I have installed Okular on Windows, which uses Poppler and it has exactly the same problems. So, @Svendergrosse, I'm sorry for that but you have to ask the Poppler team do work on it. And meanwhile you can bypass it by embedding your fonts.

[2016-05-18 02:31] simplygood opened #174 "Fail to compile git head or 1.15 on OS X"
The current homebrew is v1.13.1 and I wanted to try the latest version. But I failed to compile git head and v1.15 on OS X El Capitan with latest qt5, boost, and poppler from homebrew. Is there any v1.15 binary available for OS X? Or, how can I compile on OS X?

[code]

[2016-05-18 10:08] dannyedel commented on #174
Hi @simplygood, thank you for reporting this.

CCing @wwwdata, he's the homebrew formula maintainer.

Reading your build log's first error:

This sounds like a problem within the Qt installation.  I don't have physical access to a mac right now, but I'll add osx/qt5 to the travis build matrix.

I don't think you should set LDFLAGS and such manually, cmake should™ take care of that.  Just to see if

[2016-05-18 10:53] dannyedel commented on #174
@simplygood I see the problem starts with *detecting* qt5.  I'm looking into this and I think I have a solution.  Will check by using travis and will report back here.

[2016-05-18 11:20] dannyedel commented on #174
I think I have a solution.

Please delete your `build` directory and create a fresh one.

Setting `LDFLAGS` or `CPPFLAGS` directly is not neccessary, and seems to be the cause of the problem, confusing `cmake` into some qt5-half-detected state.

With travis, I saw that qt5's cmake configuration file is not in the default search path, since brew still prefers qt4 over qt5.

Please try a `cmake` com

[2016-05-19 14:51] simplygood commented on #174
Thanks for looking into this. I still cannot compile with your suggestion. FYI, my homebrew qt5 was bottle-poured, not compiled from source.

[code]

[2016-05-19 14:56] simplygood commented on #174
FYI, probably with the same issue, the following also doesn't work now:
```brew install dspdfviewer --HEAD```

[2016-05-19 15:15] wwwdata commented on #174
hm, the pre-compiled dspdfviewer version in homebrew was compiled with qt4 afaik. I also didn't properly get it running with qt5. But I can try to compile it as well and maybe we can then finally upgrade the homebrew formula to a qt5 and pre-compiled (bottled) qt5 version.

[2016-05-19 17:04] dannyedel commented on #174
On [travis-ci][1], current master builds against qt5 without issues.

There, the qt5 is also from a bottle, the only thing actually compiled is poppler, because that gets installed with a `--with-qt5` flag, which in turn disables bottles.

Maybe this is compiler version specific?  On Travis, it uses `/usr/bin/clang++` which identifies as `AppleClang 6.0.0.6000054`, while in your build it says `/Ap

[2016-05-19 17:15] dannyedel commented on #174
@wwwdata I think you can use [this syntax][1] to let the user specify whether to build against qt4 or qt5.  You can choose better than me which should be the default on OS X, but I'm planning to drop qt4 support in one of the next releases, and it is now considered deprecated.

[1]: https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Formula-Cookbook.md#messaging

[2016-05-20 08:24] dannyedel commented on #174
@wwwdata try this as a starting point https://github.com/dannyedel/formula-dspdf/blob/master/dspdfviewer.rb -- it compiles in travis' default Mac OS image.  You may need to backport https://github.com/dannyedel/dspdfviewer/commit/4092d6e20f9a0c79739c5131e1e1c38a413f734f.patch from #176 for elcapitan.

@simplygood I can now reproduce **a** compile error (although not the exact one you have), when I

[2016-05-20 16:05] wwwdata commented on #174
thanks for the headstart formula @dannyedel
I could actually compile dspdfviewer with qt5 on my `OS X 10.11` without any problems. It was just necessary to set the correct args that you did. I'll try to go through the official update process in homebrew so we can officially merge the newer version in.

[2016-05-20 16:21] wwwdata commented on #174
I opened a [PR](https://github.com/Homebrew/homebrew-core/pull/1314) with the updated formular that build on my local machine. Let's see if homebrews tests do all pass as well.

[2016-05-20 23:50] simplygood commented on #174
Even with the patch from @wwwdata, I still can't.

[2016-05-21 00:08] simplygood commented on #174
I found that homebrew has a bottle (prebuilt binary) now. Thanks!

[2016-05-21 00:08] #174 closed

[2016-05-22 11:50] simplygood opened #178 "v1.15 on Mac OS X does not swap displays with 'S'"
I use a hombrew prebuild binary (bottle). If I click 'S', the screens do not swap, but they comes out of full screen mode. If I click again, they go back to full screen mode without swapping.

[2016-05-22 11:55] simplygood opened #179 ""G, go to specific slide" can handle a logical page number, not a physical?"
Since the physical pdf page numbers of a beamer pdf with overlays do not match their logical page numbers. It would be great if I can go to a logical page number with 'G' shortcut. It is just quite impossible to guess a physical page when I have many overlays in pdf.

[2016-05-23 08:13] dannyedel commented on #178
I will do what I can as soon as I have access to a macintosh, or of course if someone sends a patch (I do not own a Mac)

@wwwdata: since it worked for you, can you help figuring out what's different about your Mac vs. @simplygood's?

Some ideas:

1. If compilation works, you might have luck trying if the WIN32 style `setScreen` method works for you, see https://github.com/dannyedel/dspdfviewer/bl

[2016-05-23 08:18] dannyedel commented on #179
Makes sense : )

 I will see that I implement this (shoudn't be much difficulty, since poppler offers a [get page by string lookup][1] function)

[1]: https://people.freedesktop.org/~aacid/docs/qt5/classPoppler_1_1Document.html#a6393be3d1009747509f17b528bbadecd

[2016-05-28 02:08] simplygood opened #180 "Fixed width for timer?"
Mine is v1.15 from OS X Homebrew bottle.

The width of the timer on the bottom left changes depending on the numbers used for the time. The timer uses variable font, and for example, 0 and 1 occupy different amount of screen, making the bottom previews keep trembling horizontally as time goes.

[2016-08-22 19:13] Ellesar1 opened #181 "Change size of slides"
Hello,

Is there any way to change the size of objects on the screen I look at?

The notes are big and visible to me (which is nice), but I would also like to be able to read the presentation-version while looking at my own computer. Is this possible?

Best,
Ellesar1

[2016-08-25 06:29] dannyedel commented on #181
Hello Ellesar,

I'm not 100% sure what you mean with "the presentation-version", but I'm guessing you mean the thumbnails on the bottom of the screen.  You can change their size indirectly via the command-line or configuration-file parameter `bottom-pane-height` (in percent of screen, default value is 20).  Note that on narrow screens (less than around 1200 px) the *width* of the line may be the l

[2016-08-25 06:31] dannyedel commented on #181
Sorry, one more thing came to mind:  Also experiment with the `--thumbnail-page-part (-T)` option.

If you don't need thumbnails of the right half of your pdf, `dspdfviewer -Tleft <pdf>` may help make things larger.

[2016-09-02 12:46] nbecker opened #182 "mouse wheel advances 2 slides"
Just trying out 1st time
Built on fedora24/linux
using arrow keys advances 1 slide as expected, but mouse wheel moves by 2 slides
Using 2 screens, beamer, with
\usepackage{pgfpages}
\setbeameroption{show notes}
\setbeameroption{show notes on second screen=right}

[2016-09-03 05:14] dannyedel commented on #182
Thanks for the bug report, I will look into it.

[2016-09-13 09:42] dannyedel commented on #182
I can reproduce this in a Fedora24 "Workstation" virtual machine.  I'll look into it and try to figure out what's going on here.

[2016-09-13 10:20] dannyedel commented on #182
I found a possible source of the bug.

@nbecker Can you try to compile the (possible) fix from #183, and check if that solves things on your real machine?  It seems to work on my VM.

[2016-09-13 12:39] #182 closed

[2016-11-06 01:10] sgargbugreporter opened #186 "Portable Windows version?"
I installed this on my Linux machine and it seems to work great. Thanks.

Wondering if there is a version that I can install on a flash drives and run from a Windows machine?

Use case: conference folks provide their own PC and one generally cannot install random software on such computers.

[2016-11-06 10:17] dannyedel commented on #186
CCing @projekter, who maintains the Windows port and can give more accurate information.

-----

Disclaimer:  I don't use Windows productively, so this information is based on my experiments in VMs and likely incomplete.

-----

Thanks for suggesting this.  I agree that this might be useful.  From a security standpoint, the conference-hosting folks allowing you to *run* arbitrary binaries is only

[2016-11-06 19:27] projekter commented on #186
Indeed, the installer does not create any registry entries  (apart from the one registering the uninstaller) and is nothing but an extractor which can be used to comfortably create shortcuts. So it is possible to simply copy the whole structure that is created by the installer to another directory. Depending on your needs, it might also be enough to just copy the executable:
- You might not need t

[2016-11-29 23:12] Chris00 opened #188 "Remember the current slide on exit"
Presentations to students usually stop in the middle of a theme to be continued at the next lecture.  It would be nice if `dspdfviewer` remembered the current slide at the time of exit and reopened the PDF at exactly this slide the next time.

[2016-12-07 08:25] dannyedel commented on #188
This sounds like a good idea for a user's point of view, but there may be some issues with implementing this, mainly the question of where to save the 'resume document X on page Y' information.

Do you have any suggestions or specific requirements for your usecase?

For example, would saving this information "somewhere in the homedir" work for you, or does it need to be saved with the presentation

[2016-12-07 10:59] Chris00 commented on #188
On 2016-12-07, Danny Edel wrote:

I think it is better to leave the document unchanged.  A good
file/directory to save that information is $HOME/.config/dspdfviewer
(associated to, say, a hash of the pdf file, or maybe just its full
path).

[2017-03-03 18:05] projekter commented on #186
Sorry that it took so long for such a trivial thing, but now I've found a peaceful minute to create an archive, which I also added to the latest release. I have chosen the zip format, as it can be read by Windows natively, though it is considerably worse in compressing compared to 7zip, which is used by the setup internally. Therefore, the archive is almost double in size compared to the setup. Ho

[2017-03-17 14:17] projekter commented on #99
Finally, after lots of investigations, I can at least provide a more detailed description when the problem happens and why:

- The test applications delivered with poppler render the jpegs without any problems when compiled with turbojpeg.
- So does a minimal test application of mine, which just loads the PDF, creates an image of the first page and saves it to a file.
- When I create a minimal lib

[2017-03-18 15:05] dannyedel commented on #186
I included the portable zip in [the installation instructions][inst] in bc53aa6f.

@projekter Does this look okay to you?

[inst]: http://dspdfviewer.danny-edel.de/installation/windows

-----

@sgargbugreporter Did you get a chance to test the zip?

[2017-03-19 17:25] projekter commented on #186
That's perfectly fine.

[2017-04-04 16:02] MarioLoe opened #190 "'Z' for toggling blank screen?"
I'm using a BlueBeach Presenter, which seems to send a 'z' for toggling the audience view. So it would be nice to add this button to the toggling feature as well, as it should not interfere with any other button so far.

[2017-04-19 22:24] fraggerfox opened #191 "Build failure on llvm-4.0 with -Werror,-Wundefined-func-template"
Hello @dannyedel

Recently we managed to write a [FreeBSD port](https://www.freshports.org/graphics/dspdfviewer) for dspdfviewer and it was building and installing fine until the llvm-4.0 upgrade in the base system in ```FreeBSD 12.0-CURRENT```.

The change in llvm-4.0 has caused build to fail specifically due to this

[code]

The easiest workaround will be adding ```-Wno-error=undefined-func-temp

[2017-07-27 19:33] ouboub opened #192 "Ubuntu trusty, cannot compile"
Hi

I have installed
cmake-data
cmake
libboost1.54-dev
libboost-program-options1.54-dev
libboost-program-options-dev
libpoppler-qt5-1
autoconf-archive
libboost-test1.55.0
libboost1.55-dev
libboost-test1.55-dev
libxkbcommon-x11-0

but when I follow the installation instruction
running
cmake ../
gives
CMake Error at cmake/external_libraries.cmake:42 (find_package):
  By not providing "FindQt5Core.cm

[2017-07-31 20:07] dannyedel commented on #192
Hello Uwe,

it seems you have only installed the Qt libraries (required to run already-compiled programs), but not the headers/development files needed to compile some yourself.

A [search in the ubuntu package directories][1] suggests you should try installing `qtbase5-dev`.

You may need more than this one package to compile yourself.   Please take a look at [the dependency list inside travis.ym

[2017-08-01 07:14] ouboub commented on #192
Hi Danny,

thanks for your answer!

1. I installed qtbase5-dev. The cmake gives the following error:
 CMake Error at cmake/external_libraries.cmake:47 (find_package):
  By not providing "FindQt5LinguistTools.cmake" in CMAKE_MODULE_PATH this
  project has asked CMake to find a package configuration file provided by
  "Qt5LinguistTools", but CMake did not find one.

  Could not find a package config

[2017-08-01 07:22] ouboub opened #193 "Test of a beamer pdf (using notes) Laptop with dual screen support: problems"
Hi

I just compiled a latex beamer file with notes. I am using a Thinkpad X201 with an Intel 4 graphic card which according to the documentation and the comments on the thinkpad linux mailing list should support dual screens.

I opened the pdf file with dspdfviewer, and can toggle between three screens,

1. the screen with the  presentation

1.

[2017-08-01 20:39] Rondom commented on #193
You need to to configure the output to be in "extended desktop mode" (or whatever it is called), i.e. not clone-mode. This is something you configure outside dspdfviewer using xrandr (command line) or whatever GUI-tools your desktop environment provides for configuring screens.

[2017-08-02 09:47] dannyedel commented on #192
Hello Uwe,

I'm not sure how to best solve this, so I'll just give my comments, maybe we'll come to an idea together.

While I admit that the INSTALL file is a bit outdated (it lists the now-default-and-working-fine Qt5 support as experimental) I don't think listing required package names is possible, since they will be different for each distribution.  Essentially all that can be said distributio

[2017-08-02 10:07] dannyedel commented on #193
Picking up on what @Rondom wrote, this is a layer below dspdfviewer, but I will try to help you diagnose it.

To see if your graphics card driver works correctly, please post the output of `xrandr` while both monitors are physically connected to your computer.

You "should" see two separate outputs being detected, which usually have different combinations of resolutions.   Here's an example from m

[2017-08-02 17:01] ouboub commented on #193
Hi Danny,

thanks very much, your help solved my problem.
xrandr returned
`Screen 0: minimum 320 x 200, current 1280 x 800, maximum 32767 x 32767
LVDS1 connected 1280x800+0+0 (normal left inverted right x axis y axis) 261mm x 163mm
   1280x800       60.0*+   50.1
   1024x768       60.0
   800x600        60.3     56.2
   640x480        59.9
VGA1 connected (normal left inverted right x axis y axis)

[2017-08-17 12:10] uwezi commented on #173
Hello!

I just discovered this bug in my upcoming lecture slides. Since poppler in the meantime seems to have gone now from 0.43 to 0.57 I guess there is a chance that this problem is cured.

Is there any chance for a Windows pre-compiled binary based on poppler 0.57?

[2017-08-24 16:08] cristobaltapia commented on #179
Hi,
I would also think that this would be a nice enhancement. Are you still planning to implement it?

[2017-08-27 21:39] uwezi opened #194 "Windows: still font problems"
There are still font problems with the current 1.15.1 build version. These are caused by the poppler 0.43 libraries used in the pre-build binaries.

I have just built dspdfviewer on Linux Mint 17.3 using poppler 0.44 and the \Omega sign is correctly displayed using dspdfviewer on the attached example document.

The PDF was created using XeTeX, beamer and including an eps-file created with XCircuit

[2017-08-28 15:47] projekter commented on #194
Actually, this is not true. In March, I updated poppler to version 0.52.0. This is not yet online - since nothing changed in dspdfviewer, I did not make a new release. The symbols are not rendered correctly even with this version. Hence, the problem is really related to the way poppler works in Windows.
However, when I analyze your PDF with Acrobat, it reports possible Font problems, since the \Om

[2017-08-28 19:24] uwezi commented on #194
That's interesting... And it's also interesting that all other viewers I have tested on Windows show the \Omega correctly.

I have now tried to embed the fonts using gs and still it does not seem to work - what would I need to install on my Windows-machine to be able to compile dspdfviewer from the source code?

The only reliable way on my system which I have currently identified is to convert the

[2017-08-28 19:48] uwezi commented on #194
OK, now I succeeded in embedding the fonts correctly - but only by converting the XCircuit-generated eps-files using eps2pdf with the additional options -dEmbedAllFonts=true -dPDFSETTINGS=/prepress

It was nice that XeTeX automatically could convert end embed eps-files, but I guess I can live with this extra step...

[2017-08-29 20:29] projekter commented on #194
For you to verify that indeed the problem is still present in the newest poppler version, I added a new [release](https://github.com/projekter/dspdfviewer/releases/tag/v1.15.1.2-497c494) which has "just" updated third-party components.
I also spent the whole day on [creating a repository](https://github.com/projekter/dspdfviewer-building) which explains in-depth step-by-step what to do in order to

[2017-08-29 20:31] projekter commented on #173
Yup, [there is](https://github.com/projekter/dspdfviewer/releases/tag/v1.15.1.2-497c494). But I have to disappoint you that the bug is still present. Embedded fonts are still the best way to ensure everything works.

[2017-08-30 17:56] dannyedel commented on #179
@cristobaltapia Yes I do want to implement it, unfortunately my day job currently keeps me incredibly busy, so I cannot give any kind of ETA.

If you want to take over and implement it, I'd be happy to accept a pullrequest.

[2017-08-30 17:57] dannyedel commented on #191
Thank you for the report, I'll look into it (and add a CI build with a more recent clang) when I find the time.

[2017-08-30 17:59] dannyedel commented on #190
Thank you for the report.    When you say it sends Z, do you mean the bottom row button left of X, or the top row button between T and U?

[2017-08-30 22:07] fraggerfox commented on #191
Thank you for the reply @dannyedel

We also had a build failure on another part of the code again in ```FreeBSD 12.0-CURRENT```.

Once again a change in llvm-4.0 has cause the build to fail specifically due to this

[code]

We fixed this by adding ``` -Wno-error=zero-as-null-pointer-constant ``` to the FreeBSD port's ```Makefile```

Detailed log of the build failures

[FreeBSD 12-CURRENT (i386)](h

[2017-10-18 19:52] ghost opened #195 "Half-Screen Displayed"
Can someone tel me how to use Dual-Screen PDF Viewer as my first trier displayed half-a page of my pdf horizontally.

[2017-10-19 03:03] dannyedel commented on #195
I suggest you read [the manpage][1] to familiarize youself with the program and its options.  You are probably looking for the option `--full-page` if you have a PDF which is *not* built using the "show notes on second screen=right" latex-beamer feature.

[1]: http://dspdfviewer.danny-edel.de/manpage.html

[2017-12-14 10:14] th42sch commented on #180
Same issue here, with v1.15 on macOS 10.13.2.

In addition to the visual nuisance caused by the previews "trembling" almost every second, this might also use unnecessary CPU/GPU cycles.

The reason for this behaviour seems to be that the digits 0..9 in macOS's system font San Francisco aren't of equal width. I suggest to display the timers using Helvetica, which was the system font until OS X 10.1

[2018-03-04 09:44] carnage commented on #188
I'd find this quite useful if I ever need to do a live demo part way through a presentation. That way I can exit dspdfviewer move to the demo and then come back afterwards.

I would also suggest a command line flag to disable/enable resume.

[2018-03-27 09:08] GrayGhost93 opened #198 "Feature Request: Show number of current/all slides"
It would be nice to have a total number of slides and on which one you are while presenting

[2018-03-27 09:09] GrayGhost93 opened #199 "Feature Request: Change size of timers"
Changing the size of the overall timer and the timer for the current slide would be nice to have

[2018-04-14 13:36] dio4ev opened #200 "hyperlinks not clickable...."
I it possible to use hyperlinks?
I found out that currently my hyperlinks in my latex beamer pdf are not clickable, although there is a flag `−l, −−hyperlink-support`.

Is this a bug or not implemented yet?
Is there a workaround so that I get support for clickable hyperlinks? If not then I cannot use this awesome program.

Thanks,
Jonas

[2018-06-10 13:59] shamsuddeen2004 opened #201 "Failed to load qt translations for locale "en_US""
I install and run , but it keep giving me error as bello

Warning     :Failed to load qt translations for locale "en_US"
WARNING : Failed to load dspdfviewer translation for current locale "en_US"
WARNING :  Types other than Goto are not supported yet.
.....
...
WARNING :  Types other than Goto are not supported yet.
.

[2018-06-12 12:57] ppoppitz opened #202 "Error with libboost > 1.66"
I have installed dspdfviewer from AUR.

After the latest update of boost(-libs) from 1.66 to 1.67 I get the error that libboost 1.66 cannot be found. After downgrading both boost and boost-libs everything works fine again.

PS:  not sure if I should report this in the AUR comments or here.

[2018-06-12 13:06] clawoflight commented on #202
Did you rebuild dspdfviewer?
When using the AUR, you must manually rebuild packages whenever a dependency changes.

[2018-06-12 13:10] ppoppitz commented on #202
Oops. Thank you for the reminder, now working again!

[2018-06-12 13:10] #202 closed

[2018-06-12 13:11] clawoflight commented on #161
May I question why this is here? It probably makes sense for other DEs, but for i3 specifically, this is trivial to do:

I simply assign workspace 10 to always be on the output I use for presentations, and assign the dspdfviewer window to always be on that workspace. Job done, literally 2 lines, one of which I had already before using dspdfviewer.
Has the nice advantage that it doesn't break if I

[2018-06-14 12:21] clawoflight opened #203 "Improvement: Slide timer continues if logical page number stays same"
For improved handling of beamer overlays, it would be helpful if the slide timer only resets whenever the logical page number changes.

[2018-07-01 12:07] adnidor opened #204 "Feature Request: Read config file in current dir"
Having only a global config file is inconvenient if you have multiple presentations in different formats/layouts.

Reading a config file in the current dir would provide a way to specify presentation-dependant options, ideally dspdfviewer would merge these options with the ones in the global file.

[2018-09-23 14:49] LorhanSohaky opened #205 "Required packages to install on Fedora"
sudo dnf install cmake boost-devel poppler-qt5-devel qt5-qtbase-devel qt5-linguist

[2018-11-28 17:22] ntropia2 opened #206 "Slide progress"
I found terribly useful to have some kind of feedback on the progress of the presentation, either very simple with a counter (i.e. Slide 4/30) or more fancy with a progress bar/pie chart, similar to what Okular does in presentation mode.

This feature would go together with Issue #1

[2018-12-09 01:50] vzaliva opened #207 "window mode"
I understand it uses **fullscreen** mode for showing notes on the 2nd screen. I am looking for one where presentation and notes are shown in two separate **windows** at the same screen. The reason is that I would like to present over video conferencing software and share presentation window only while keeping notes on my screen. Is it possible to implement such a feature?

[2019-02-18 13:29] thomwiggers commented on #200
Sounds like a duplicate of #97

[2019-03-05 16:22] jwpit opened #208 "Feature Request: add a virtual pointer in duplicate mode"
A Pointer Mode like in pdfpc would be very useful.

[2019-05-07 10:10] ygalanak opened #209 "animatedgraphics package"
Hi,

In one of my slides I use the animatedgraphics package (which combines several .eps pictures generating something like .gif). Though, when I open the .pdf with dspdfviewer, the animated slide doesn't play. Any ideas?

Best,
Y

[2019-05-07 18:35] Rondom commented on #209
Just to clarify: Do you mean the [animate-package](https://www.ctan.org/pkg/animate)? Or is animatedgraphics some other package I don't know of? I searched a bit for animatedgraphics and could not find much,

[2019-05-07 18:51] ygalanak commented on #209
Yes, that's the one I was talking about. I was thinking about the command I was calling on TeX while writing it - sorry.

[2019-06-10 17:09] dannyedel opened #210 "Config-File under Windows 10 is not searched in documented location"
Under Windows 10, the configuration file is searched in `/.config` and not in `C:/Users/NAME/.config` as documented, because `$HOME` is empty on Windows 10 (see [runtimeconfiguration.cpp +196][1] for the bug location).

A good solution would be to check if the (buggy) previous config file location exists and issue a warning that a user is depending on a bug.

While working on the logic anyway, #20

[2019-09-17 09:41] adimajo commented on #209
Same here. Control buttons are showing up correctly but are not clickable: it skips to the next slide. It's very frustrating since it seems to be working (other dual screen PDF presenters don't even behave correctly on these slides). Any workaround?

[2019-09-17 16:15] Rondom commented on #209
Is there any FOSS PDF viewer that can handle those animations? Last I checked, Okular had at least some preliminary implementation for JS and animations, but it did not work with the animations created by this package.

[2019-09-17 16:20] adimajo commented on #209
I'm on Mac, only thing I know is that it doesn't work on Preview but works on Adobe Acrobat Reader DC (the free one). No idea what it uses to render it though.

[2019-10-06 16:23] Matze77 commented on #22
Hi, is there any progress on this one?

[2019-12-11 14:24] spectralflow opened #212 "Certain PDF graphical elements do not appear in dspdfviewer"
I attached two pictures and the original pdf, one screenshot of dspdfviewer and one screenshot of adobe. Dspdfviewer does not show certain graphical elements. In particular small round bullets
[34_PDFsam_chp4.pdf](https://github.com/dannyedel/dspdfviewer/files/3950754/34_PDFsam_chp4.pdf)
do not show.
![Adobepic](https://user-images.githubusercontent.com/34473902/70627459-8ab9f880-1c26-11ea-925f-eb

[2019-12-12 00:44] Rondom commented on #212
It displays fine for me on Debian sid.

Versions:

 * dspdfviewer version 1.15.1-1+b1
 * libpoppler-qt5 0.71.0-6
 * libqt5 5.12.5+dfsg-2

[2019-12-12 09:20] projekter commented on #212
I can reproduce this problem on Windows, however, the very same issue is also present in Okular. Hence, it is not dspdfviewer related, but a problem of the underlying poppler library.
The dots in your document are not curves, but instead symbols in the Zapf Dingbats font. And this font is not embedded in the PDF file. When I tried embedding it using Acrobat (which somehow is able to render the fil

[2019-12-12 13:24] spectralflow commented on #212
Good point, Thanks a lot for clearing up this issue.

I have also tried pympress yesterday. It shows these bullet points, but as little squares. There is something odd about these pictures. I have not produced them myself and will mention that to the creators of the pictures.

In any case, it's not a problem that dspdfviewer should worry about. So I will close this issue.

[2019-12-12 13:24] #212 closed

[2020-02-02 13:18] Svendergrosse opened #213 "jpeg62.dll missing for Win 10 installation"
Hi Danny and Dspdf team,

in the latest release 1.15.1.3, a dll seems to be missing for the Windows installation: jpeg62.dll.

please see attached screenshot.

PS. all previous versions run sucessfully on my win 10 platform

![Capture](https://user-images.githubusercontent.com/6673512/73608744-72c77b00-45be-11ea-8f9d-4ee6a3febee2.PNG)

[2020-02-02 13:28] projekter commented on #213
Indeed, as I said in the release comment, I for the first time activated the better turbojpeg driver; however, since it was compiled statically, it _should_ not require any DLL. While I investigate this issue, the attached DLL should temporarily fix the issue.

[jpeg62.zip](https://github.com/dannyedel/dspdfviewer/files/4144212/jpeg62.zip)

[2020-02-02 15:53] projekter commented on #213
Ok, can you please try the attached file (without the `jpeg62.dll` that I gave before)? Apparently, Qt somehow configured itself to use the shared libraries. I still need to look for an `official` way to change this, at the moment I hard-rewrote some dependencies. The jpeg testcase did still work properly.

[dspdfviewer.zip](https://github.com/dannyedel/dspdfviewer/files/4144559/dspdfviewer.zip)

[2020-02-10 09:21] projekter commented on #213
I now turned this into a new release.

[2020-12-13 07:22] hendrix-dai commented on #201
The same problem, are u installing it on a MacBook with big sur?

[2021-02-15 14:22] MartinX3 opened #214 "Long time no update? Alternative?"
Should be worry about that this project wasn't updated since 2016 (security issues, etc)?
Is there a good alternative to view LaTeX presentations with their page comments?
Yes, there is one!
https://github.com/pdfpc/pdfpc/
It uses a different approach to add the notes but for the CTAN package `pdfpc` it works almost the same in LaTeX.
https://github.com/pdfpc/pdfpc/issues/472 -> Removed the beamer

[2021-02-25 17:06] einhander commented on #214
https://github.com/pdfpc/pdfpc/ -linux only, windows support is limited.

[2021-10-31 14:24] dannyedel commented on #214
Hello Martin and einhander,

I apologize for not updating this in a long while -- I have been busy with lots of other things in real life.

Regarding security issues: I have not been made aware of any, at least not yet ; )

----

I'll close this ticket for now, since there is nothing to do here really.

[2021-10-31 14:24] #214 closed

[2021-10-31 14:25] #213 closed

[2021-10-31 14:27] dannyedel commented on #209
I have to close this ticket (and similar ones asking for animations / multimedia playback / etc) as "wontfix", since I don't have the resources to build and support this functionality myself.

Of course, if someone wants to implement this and send a pull request, please get in touch.

[2021-10-31 14:27] #209 closed

[2021-10-31 14:29] dannyedel commented on #207
This should™ be possible to implement -- essentially it only requires to skip the window (re-)positioning and not asking the window manager to switch them to full-screen mode.

[2021-10-31 14:40] dannyedel commented on #201
Some of these messages (the Goto warning) should probably not be printed on every slide change,
since they're mainly meant for the developer.

However, the "translation" warning should not affect program operation.  Does the program do anything "wrong" other then outputting the diagnostics (again and again)?

[2021-10-31 14:41] dannyedel commented on #200
Yes, this is a missing feature, and yes, it is a duplicate of #97.

So I'm closing *this* ticket here, but the feature "should" get implemented "sometime soon".

[2021-10-31 14:41] #200 closed

[2021-10-31 14:43] #195 closed

[2021-12-29 13:26] nbecker opened #218 "Build fails on Fedora 35 (warnings treated as errors)"
/home/nbecker/dspdfviewer/hyperlinkarea.cpp: In constructor ‘HyperlinkArea::HyperlinkArea(QLabel*, const AdjustedLink&)’:
/home/nbecker/dspdfviewer/hyperlinkarea.cpp:34:45: error: ‘const QPixmap* QLabel::pixmap() const’ is deprecated: Use the other overload which returns QPixmap by-value [-Werror=deprecated-declarations]
   34 |   const QPixmap* pixmap = imageLabel->pixmap();
      |

[2022-10-20 11:18] dannyedel commented on #218
I am sorry for the very late response, but today I updated my debian system to bullseye, which includes Qt 5 version 5.15 LTS and can reproduce the issue (usage of deprecated function).

Expect updates soon, including updates to the CI pipeline to catch this.

[2022-10-20 12:11] #218 closed